{% load static %}


<!--======= Footer =========-->
  <footer>
    <div class="container">
      <!-- <div class="text-center"> <a href="#."><img src="{% static 'images/logo.png' %}" alt=""></a><br> -->
      <div class="text-center"> <a href="{% url 'shop:home-page' %}"><img src="{% static 'images/light-logo.png' %}" width="12%" alt="" style="opacity: 50%;"></a><br>
        <!-- <img class="margin-t-40" src="{% static 'images/hammer.png' %}" alt=""> -->
        <p class="intro-small" style="font-style: normal; font-family: 'Montserrat', sans-serif; margin-top: 18px;">Интернет магазин нижнего белья и одежды</p>
      </div>

      <div class="rights">
            <p>
              <div class="row">
                <div class="col-sm-2" align="left" style="margin-bottom: 15px;">
                  <ul class="social_icons">
                    <li class="instagram-footer"><a href="https://www.instagram.com/bl_ishko/" target="_blank" style="border: none"> <i class="fa fa-instagram"></i></a></li>
                    <li class="instagram-footer"><a href="https://vk.com/bl_ishko" target="_blank" style="border: none"><i class="fa fa-vk"></i> </a></li>
                  </ul>
                </div>
                <!-- <a href="https://www.instagram.com/bl_ishko/" target="_blank" style="text-align: center;"><i class="fa fa-instagram"></i> </a>
                <a href="https://vk.com/bl_ishko" target="_blank"><i class="fa fa-vk"></i> </a> -->
                <div class="col-sm-10">
                  <a target="_blank" href="{% url 'shop:privacy-page' %}">© BL_ISHKO</a>, 2022
                </div>
              </div>
            </p>
      </div>

      </div>
    </div>
  </footer>