{% load static %}

<!--======= Footer =========-->
  <footer>
    <div class="container">
      <div class="text-center"> <a href="#."><img src="{% static 'images/logo.png' %}" alt=""></a><br>
        <!-- <img class="margin-t-40" src="{% static 'images/hammer.png' %}" alt=""> -->
        <p class="intro-small margin-t-40" style="font-style: normal; font-family: 'Montserrat', sans-serif;">Интернет магазин нижнего белья и одежды</p>
      </div>
      
      <!--  Footer Links -->
<!--       <div class="footer-link row">
        <div class="col-md-6">
          <ul> -->
            
            <!--  INFOMATION -->
<!--             <li class="col-sm-6">
              <h5>ИНФОРМАЦИЯ</h5>
              <ul class="f-links">
                <li><a href="{% url 'shop:faq-page' 1 %}"> ПОКУПАТЕЛЯМ</a></li>
                <li><a href="{% url 'shop:contact-page' %}."> КОНТАКТЫ</a></li>
                <li><a href="{% url 'shop:home-page' %}"> ГЛАВНАЯ</a></li>
                <li><a href="{% url 'shop:shop-page' %}"> МАГАЗИН</a></li> -->
                <!-- <li><a href="#."> MANUFACTURES</a></li> -->
<!--               </ul>
            </li> -->
            
            <!-- MY ACCOUNT -->
<!--             <li class="col-sm-6">
              <h5>МОЙ АККАУНТ</h5>
              <ul class="f-links">
                <li><a href="{% url 'users:profile-page' %}">ЛИЧНЫЙ КАБИНЕТ</a></li>
                <li><a href="{% url 'users:wishlist-page' %}"> ИЗБРАННОЕ</a></li>
                <li><a href="{% url 'cart:cart-page' %}"> КОРЗИНА</a></li>
                <li><a href="{% url 'users:profile-orders-page' %}"> МОИ ЗАКАЗЫ</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'account_logout' %}"> ВЫХОД</a></li>
                {% endif %}
              </ul>
            </li>
          </ul>
        </div> -->
        
        <!-- Second Row -->
<!--         <div class="col-md-6">
          <ul class="row"> -->
            
            <!-- TWITTER -->
<!--             <li class="col-sm-6">
              <h5>INSTAGRAM</h5>
              <p>Следите за скидками и новыми поступлениями в Instagram @bl_ishko : www.instagram.com/bl_ishko/ </p>
            </li> -->
            
            <!-- FLICKR PHOTO -->
<!--             <li class="col-sm-6">
              <h5>FLICKR PHOTO</h5>
              <ul class="flicker">
                <li><a href="#."><img src="{% static 'images/flicker-1.jpg' %}" alt=""></a></li>
                <li><a href="#."><img src="{% static 'images/flicker-2.jpg' %}" alt=""></a></li>
                <li><a href="#."><img src="{% static 'images/flicker-3.jpg' %}" alt=""></a></li>
                <li><a href="#."><img src="{% static 'images/flicker-4.jpg' %}" alt=""></a></li>
                <li><a href="#."><img src="{% static 'images/flicker-5.jpg' %}" alt=""></a></li>
                <li><a href="#."><img src="{% static 'images/flicker-6.jpg' %}" alt=""></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div> -->
      
      <!-- Rights -->
      <div class="rights">
        <p>© BL_ISHKO, 2022</p>
      </div>
    </div>
  </footer>