{% load static %}

{% load thumbnail %}

  <!-- Header -->
  {% block header_class %}<header class="header-style-2">{% endblock header_class %}
      <!-- Top Bar -->
    <div class="top-bar">
      <div class="container">
        <!-- Language -->
        <div class="language"> <a class="active">RU</a></div>
        <div class="top-links">
          <ul>
            {% if user.is_authenticated %}
              <li><a href="">ЛИЧЫЙ КАБИНЕТ</a></li>
              <li><a href="{% url 'users:wishlist-page' %}">ИЗБРАННОЕ</a></li>
              <li><a href="{% url 'account_logout' %}">ВЫЙТИ</a></li>
            {% else %}
              <li><a href="{% url 'account_login' %}">ВОЙТИ</a></li>
              <li><a href="{% url 'account_signup' %}">ЗАРЕГИСТРИРОВАТЬСЯ</a></li>
            {% endif %}
            <li class="font-montserrat">ВАЛЮТА:
              <select class="selectpicker">
                <option>RUB</option>
              </select>
            </li>
          </ul>
          <!-- Social Icons -->
          <ul class="social_icons">
            <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li>
            <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li>
            <li class="dribbble"><a href="#."><i class="fa fa-dribbble"></i> </a></li>
            <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li>
            <li class="linkedin"><a href="#."><i class="fa fa-linkedin"></i> </a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- Logo -->
    <div class="container">
      <div class="logo"> <a href="{% url 'shop:home-page' %}"><img src="{% static 'images/logo-dark.png' %}" alt=""></a> </div>
    </div>
    <div class="sticky">
      <div class="container"> 
        <!-- Nav -->
        <nav class="webimenu"> 
          <!-- MENU BUTTON RESPONSIVE -->
          <div class="menu-toggle"> <i class="fa fa-bars"> </i> </div>
          <ul class="ownmenu">

            <li class="active"><a href="{% url 'shop:home-page' %}">ГЛАВНАЯ</a>
            </li>

            <li><a href="12-contact.html">PAGES</a>
              <ul class="dropdown">
                <li><a href="index.html">HOME</a>
                  <ul class="dropdown">
                    <li><a href="index.html">Index Defult</a></li>
                    <li><a href="index-2.html">Index 2</a></li>
                    <li><a href="index-3.html">Index 3</a></li>
                    <li><a href="index-4.html">Index 4</a></li>
                    <li><a href="index-5.html">Index 5</a></li>
                    <li><a href="index-6.html">Index 6</a></li>
                    <li><a href="index-7-construction.html">Index Construction</a></li>
                    <li><a href="index-8-construction.html">Index Construction 2</a></li>
                    <li><a href="index-09-furniture.html">Index Furniture</a></li>
                    <li><a href="index-10-sports.html">Index Sports</a></li>
                    <li><a href="index-11-beauty.html">Index Beauty</a></li>
                    <li><a href="index-12-watches.html">Index Watches</a></li>
                  </ul>
                </li>
                <li><a href="05-about-us-01.html">About</a>
                  <ul class="dropdown">
                    <li><a href="05-about-us-01.html">About US 01</a></li>
                    <li><a href="05-about-us-02.html">About US 02</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'shop:shop-page' %}">Shop</a>
                </li>
                <li><a href="09-01-portfolio-grid.html">PORTFOLIO</a>
                  <ul class="dropdown">
                    <li><a href="09-01-portfolio-grid.html">PORTFOLIO GRID </a>
                      <ul class="dropdown">
                        <li><a href="09-01-portfolio-grid.html">PORTFOLIO GRID 02 COL</a></li>
                        <li><a href="09-02-portfolio-grid.html">PORTFOLIO GRID 03 COL</a></li>
                        <li><a href="09-03-portfolio-grid.html">PORTFOLIO GRID 04 COL</a></li>
                      </ul>
                    </li>
                    <li><a href="09-01-portfolio-grid.html">PORTFOLIO Default </a>
                      <ul class="dropdown">
                        <li><a href="09-05-portfolio-grid-default.html">PORTFOLIO 02 COL</a></li>
                        <li><a href="09-06-portfolio-grid-default.html">PORTFOLIO 03 COL</a></li>
                        <li><a href="09-07-portfolio-grid-default.html">PORTFOLIO 04 COL</a></li>
                      </ul>
                    </li>
                    <li><a href="09-03-portfolio-full-width.html">PORTFOLIO FULLWIDTH</a></li>
                    <li><a href="09-08-portfolio-masonry.html">PORTFOLIO MANSORY 01</a></li>
                    <li><a href="09-09-portfolio-masonry.html">PORTFOLIO MANSORY 02</a></li>
                    <li><a href="09-10-portfolio-single.html">Portfolio Single 01</a></li>
                    <li><a href="09-11-portfolio-single.html">Portfolio Single 02</a></li>
                  </ul>
                </li>
                <li><a href="04-contact-01.html">Contact</a>
                  <ul class="dropdown">
                    <li><a href="04-contact-01.html">Contact US 01</a></li>
                    <li><a href="04-contact-02.html">Contact US 02</a></li>
                    <li><a href="04-contact-03.html">Contact US 03</a></li>
                  </ul>
                </li>
                <li><a href="03-pay-checkout.html">Pay Checkout</a></li>
                <li><a href="03-pay-viewcart.html">Pay Viewcart</a></li>
                <li><a href="06-404-page.html">404 Page</a></li>
                <li><a href="07-faqs-page.html">Faqs Pages</a></li>
                <li><a href="10-coming-soon.html">Coming Soon</a></li>
              </ul>
            </li>

            <li class="meganav"><a href="{% url 'shop:shop-page' %}">МАГАЗИН</a>
              <ul class="dropdown">
                {% for c in categories %}
                <li><a href="{{ c.get_absolute_url }}">{{ c.title }}</a></li>
                {% endfor %}
              </ul>
            </li>

            <li class="meganav"><a href="index.html">LOOKBOOK</a> 
              <!--======= MEGA MENU =========-->
              <ul class="megamenu full-width look-book">
                <li class="row nav-post">
                  <div class="col-sm-2">
                    <h6>Shop</h6>
                    <ul>
                      <li><a href="#."> MEN’S</a></li>
                      <li><a href="#."> WOMAN</a></li>
                      <li><a href="#."> KID’S</a></li>
                      <li><a href="#."> BAGS & SHOES</a></li>
                      <li><a href="#."> SEASONAL</a></li>
                      <li><a href="#."> LOOKBOOK</a></li>
                      <li><a href="#."> </a></li>
                    </ul>
                  </div>
                  <div class="col-sm-5">
                    <div class="media">
                      <div class="media-left">
                        <div class="nav-img"> <a href="#"> <img class="media-object img-responsive" src="{% static 'images/nav-img-1.jpg' %}" alt=""> </a> </div>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Oversized T-Shirt Dress</h6>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                        <a href="#.">READ MORE</a> </div>
                    </div>
                    <div class="media">
                      <div class="media-left">
                        <div class="nav-img"> <a href="#"> <img class="media-object img-responsive" src="{% static 'images/nav-img-4.jpg' %}" alt=""> </a> </div>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Oversized T-Shirt Dress</h6>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                        <a href="#.">READ MORE</a> </div>
                    </div>
                  </div>
                  <div class="col-sm-5">
                    <div class="media">
                      <div class="media-left">
                        <div class="nav-img"> <a href="#"> <img class="media-object img-responsive" src="{% static 'images/nav-img-2.jpg' %}" alt=""> </a> </div>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Oversized T-Shirt Dress</h6>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                        <a href="#.">READ MORE</a> </div>
                    </div>
                    <div class="media">
                      <div class="media-left">
                        <div class="nav-img"> <a href="#"> <img class="media-object img-responsive" src="{% static 'images/nav-img-3.jpg' %}" alt=""> </a> </div>
                      </div>
                      <div class="media-body">
                        <h6 class="media-heading">Oversized T-Shirt Dress</h6>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium </p>
                        <a href="#.">READ MORE</a> </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="{% url 'shop:faq-page' 1 %}">ПОКУПАТЕЛЯМ</a>
            </li>
            <ul class="dropdown">
              <li><a href="09-01-portfolio-grid.html">PORTFOLIO GRID </a>
                <ul class="dropdown">
                  <li><a href="09-01-portfolio-grid.html">PORTFOLIO GRID 02 COL</a></li>
                  <li><a href="09-02-portfolio-grid.html">PORTFOLIO GRID 03 COL</a></li>
                  <li><a href="09-03-portfolio-grid.html">PORTFOLIO GRID 04 COL</a></li>
                </ul>
              </li>
              <li><a href="09-01-portfolio-grid.html">PORTFOLIO Default </a>
                <ul class="dropdown">
                  <li><a href="09-05-portfolio-grid-default.html">PORTFOLIO 02 COL</a></li>
                  <li><a href="09-06-portfolio-grid-default.html">PORTFOLIO 03 COL</a></li>
                  <li><a href="09-07-portfolio-grid-default.html">PORTFOLIO 04 COL</a></li>
                </ul>
              </li>
              <li><a href="09-03-portfolio-full-width.html">PORTFOLIO FULLWIDTH</a></li>
              <li><a href="09-08-portfolio-masonry.html">PORTFOLIO MANSORY 01</a></li>
              <li><a href="09-09-portfolio-masonry.html">PORTFOLIO MANSORY 02</a></li>
              <li><a href="09-10-portfolio-single.html">Portfolio Single 01</a></li>
              <li><a href="09-11-portfolio-single.html">Portfolio Single 02</a></li>
            </ul>
            </li>

            <li><a href="{% url 'shop:contact-page' %}">КОНТАКТЫ</a>
            </li>
            
            <!--======= Shopping Cart =========-->
            <li class="shop-cart"><a href="{% url 'cart:cart-page' %}"><i class="fa fa-shopping-cart"></i></a> {% if order.order_items.all %}<span class="numb">{{ order.get_total_quantity }}</span>{% endif %}
              <ul class="dropdown">
                {% if order.order_items %}
                  {% for item in order.order_items.all %}
                  {% if forloop.counter < 3 %}
                    <li>
                      <div class="media">
                        <div class="media-left">
                          <div class="cart-img"> 
                            <a href="{{ item.item.product.get_absolute_url }}">
                              {% thumbnail item.item.product.title_image "388x450" crop="center" as im %}
                                <img class="media-object img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="...">
                              {% endthumbnail %}
                            </a> 
                          </div>
                        </div>
                        <div class="media-body">
                          <h6 class="media-heading">{{ item.item.product.title|upper|truncatechars:19 }}</h6>
                          <h6 class="media-heading">РАЗМЕР: {{ item.item.size }}</h6>
                          <span class="price">{{ item.item_total }} RUB</span> <span class="qty">КОЛ-ВО: {{ item.quantity }}</span> </div>
                      </div>
                    </li>
                  {% endif %}
                  {% endfor %}
                  {% if order.get_order_items_count > 2 %}
                    <li>
                      <div class="media">
                       <!--  <div class="media-left">
                          <div class="cart-img"> 
                            <a href="{{ item.item.product.get_absolute_url }}">
                              {% thumbnail item.item.product.title_image "388x450" crop="center" as im %}
                                <img class="media-object img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="...">
                              {% endthumbnail %}
                            </a> 
                          </div>
                        </div> -->
                        <div class="media-body">
                          <span class="qty">ЕЩЕ ТОВАРОВ В КОРЗИНЕ: {{ order.get_order_items_count|add:'-2' }}</span> </div>
                      </div>
                    </li>
                  {% endif %}

                <li class="no-padding no-border">
                  <h5 class="text-center">СУММА: {% if order %}{{ order.get_order_total_price }}{% else %}0{% endif %} RUB</h5>
                </li>
                <li class="no-padding no-border">
                  <div class="row">
                    <div class="col-xs-6"> <a href="{% url 'cart:cart-page' %}" class="btn btn-small">КОРЗИНА</a></div>
                    <div class="col-xs-6 "> <a href="#." class="btn btn-1 btn-small">CHECK OUT</a></div>
                  </div>
                </li>
                {% else %}
                  <li class="no-padding no-border">
                  <h5 class="text-center">В КОРЗИНЕ НЕТ ТОВАРОВ</h5>
                </li>
                <li class="no-padding no-border">
                  <div class="row">
                    <div class="col-xs-6"> <a href="{% url 'cart:cart-page' %}" class="btn btn-small">КОРЗИНА</a></div>
                    <div class="col-xs-6 "> <a href="#." class="btn btn-1 btn-small">CHECK OUT</a></div>
                  </div>
                </li>
                {% endif %}
              </ul>
            </li>
            <!--======= SEARCH ICON =========-->
            <li class="search-nav"><a href="#."><i class="fa fa-search"></i></a>
              <ul class="dropdown">
                <li class="row">
                  <div class="col-sm-4 no-padding">
                    <select class="selectpicker">
                      <option>MEN'S</option>
                      <option>WOMENS</option>
                      <option>KIDS</option>
                      <option>FASHION</option>
                      <option>MEN'S</option>
                      <option>WOMENS</option>
                      <option>KIDS</option>
                      <option>FASHION</option>
                      <option>MEN'S</option>
                      <option>WOMENS</option>
                      <option>KIDS</option>
                      <option>FASHION</option>
                      <option>MEN'S</option>
                      <option>WOMENS</option>
                      <option>KIDS</option>
                      <option>FASHION</option>
                      <option>MEN'S</option>
                      <option>WOMENS</option>
                      <option>KIDS</option>
                      <option>FASHION</option>
                    </select>
                  </div>
                  <div class="col-sm-8 no-padding">
                    <input type="search" class="form-control" placeholder="Search Here">
                    <button type="submit"> <i class="fa fa-search"></i> </button>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- Header End --> 