{% load static %}
{% load thumbnail %}
{% load cache %}


  <!-- Header -->
  {% block header_class %}<header class="header-style-2">{% endblock header_class %}
      <!-- Top Bar -->
    <div class="top-bar">
      <div class="container">
        <!-- Language -->
        <div class="language"> <a class="active">RU</a></div>
        <div class="top-links">
          <ul>
            {% if user.is_authenticated %}
              <li><a href="{% url 'users:profile-page' %}">ЛИЧНЫЙ КАБИНЕТ</a></li>
              <li><a href="{% url 'users:wishlist-page' %}">ИЗБРАННОЕ</a></li>
              <li><a href="{% url 'account_logout' %}">ВЫЙТИ</a></li>
            {% else %}
              <li><a href="{% url 'account_login' %}">ВОЙТИ</a></li>
              <li><a href="{% url 'account_signup' %}">ЗАРЕГИСТРИРОВАТЬСЯ</a></li>
            {% endif %}
            <li class="font-montserrat">ВАЛЮТА:
              <select class="selectpicker">
                <option>RUB</option>
              </select>
            </li>
          </ul>
          <!-- Social Icons -->
          <ul class="social_icons">
            <!-- <li class="facebook"><a href="#."><i class="fa fa-facebook"></i> </a></li> -->
            <!-- <li class="twitter"><a href="#."><i class="fa fa-twitter"></i> </a></li> -->
            <li class="dribbble"><a href="https://www.instagram.com/bl_ishko/" target="_blank"><i class="fa fa-instagram"></i> </a></li>
            <!-- <li class="googleplus"><a href="#."><i class="fa fa-google-plus"></i> </a></li> -->
            <li class="linkedin"><a href="https://vk.com/bl_ishko" target="_blank"><i class="fa fa-vk"></i> </a></li>
          </ul>
        </div>
      </div>
    </div>

    
    <!-- Logo -->

    <div class="container">
      <!-- <div class="logo"> <a href="{% url 'shop:home-page' %}"><img src="{% static 'images/bl_logo3.png' %}" alt=""></a> </div> -->
      <div class="logo"> <a href="{% url 'shop:home-page' %}"><img src="{% static 'images/dark-logo.png' %}" width="15%" alt=""></a> </div>
    </div>


    <div class="sticky">
      <div class="container"> 
        <!-- Nav -->
        <nav class="webimenu"> 
          <!-- MENU BUTTON RESPONSIVE -->
          <div class="menu-toggle"> <i class="fa fa-bars"> </i> </div>
          <ul class="ownmenu">
            {% cache 300 headers %}
            <li class="active"><a href="{% url 'shop:home-page' %}">ГЛАВНАЯ</a>
            </li>
            <li class="meganav"><a href="{% url 'shop:shop-page' %}">МАГАЗИН</a>
              <ul class="dropdown">
                <li><a href="{% url 'shop:shop-page' %}">ВСЕ ТОВАРЫ</a></li>
                {% for c in categories %}
                <li><a href="{{ c.get_absolute_url }}">{{ c.title }}</a></li>
                {% endfor %}
              </ul>
            </li>

            <li class="meganav"><a>НОВИНКИ</a> 
              <!--======= MEGA MENU =========-->
              <ul class="megamenu full-width look-book">
                <li class="row nav-post">
                  <div class="col-sm-2">
                    <h6>Магазин</h6>
                    <ul>
                      {% for c in categories %}
                        <li><a href="{{ c.get_absolute_url }}"> {{ c.title|upper }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="col-sm-5">
                    {% for product in new_products %}
                      {% if forloop.counter != 3 %}
                        <div class="media">
                          <div class="media-left">
                            <div class="nav-img">
                              <a href="{{ product.get_absolute_url }}">
                                {% thumbnail product.title_image "170x170" crop="center" as im %}
                                  <img class="media-object img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                                {% endthumbnail %}
                              </a>
                            </div>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading"><a href="{{ product.get_absolute_url }}">{{ product.title|truncatechars:20 }}</a></h6>
                            <p>{{ product.description|truncatechars:70 }}</p>
                            <a href="{{ product.get_absolute_url }}">ПОДРОБНЕЕ</a>
                          </div>
                        </div>
                      {% else %}
                      </div>
                      <div class="col-sm-5">
                        <div class="media">
                          <div class="media-left">
                            <div class="nav-img">
                              <a href="{{ product.get_absolute_url }}">
                                {% thumbnail product.title_image "170x170" crop="center" as im %}
                                  <img class="media-object img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                                {% endthumbnail %}
                              </a>
                            </div>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">{{ product.title|truncatechars:20 }}</h6>
                            <p>{{ product.description|truncatechars:70 }}</p>
                            <a href="{{ product.get_absolute_url }}">ПОДРОБНЕЕ</a>
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    </div>
                </li>
              </ul>
            </li>
            <li><a href="{% url 'shop:faq-page' 1 %}">ПОКУПАТЕЛЯМ</a>
            </li>
            </li>
            <li><a href="{% url 'shop:contact-page' %}">КОНТАКТЫ</a>
            </li>
            {% endcache headers %}
            <!--======= Shopping Cart =========-->
            <li class="shop-cart"><a href="{% url 'cart:cart-page' %}"><i class="fa fa-shopping-cart"></i></a> {% if order.order_items.all %}<span class="numb">{{ order.get_total_quantity }}</span>{% endif %}
              <ul class="dropdown" id="cart-dropdown-menu-ul">
                {% if order.order_items %}
                  {% for item in order.order_items.all %}
                    {% if forloop.counter < 3 %}
                      <li>
                        <div class="media">
                          <div class="media-left">
                            <div class="cart-img"> 
                              <a href="{{ item.item.product.get_absolute_url }}">
                                {% thumbnail item.item.product.title_image "388x450" crop="center" as im %}
                                  <img class="media-object img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="...">
                                {% endthumbnail %}
                              </a> 
                            </div>
                          </div>
                          <div class="media-body">
                            <h6 class="media-heading">{{ item.item.product.title|upper|truncatechars:19 }}</h6>
                            <h6 class="media-heading">РАЗМЕР: {{ item.item.size }}</h6>
                            <span class="price">{{ item.item_total_with_sale }} RUB</span> <span class="qty">КОЛ-ВО: {{ item.quantity }}</span> </div>
                        </div>
                      </li>
                    {% endif %}
                  {% endfor %}
                  {% if order.get_order_items_count > 2 %}
                    <li>
                      <div class="media">
                       <!--  <div class="media-left">
                          <div class="cart-img"> 
                            <a href="{{ item.item.product.get_absolute_url }}">
                              {% thumbnail item.item.product.title_image "388x450" crop="center" as im %}
                                <img class="media-object img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="...">
                              {% endthumbnail %}
                            </a> 
                          </div>
                        </div> -->
                        <div class="media-body">
                          <span class="qty">ЕЩЕ ТОВАРОВ В КОРЗИНЕ: {{ order.get_order_items_count|add:'-2' }}</span> </div>
                      </div>
                    </li>
                  {% endif %}

                <li class="no-padding no-border">
                  <h5 class="text-center">СУММА: {% if order %}{{ order.get_order_total_price_with_sale }}{% else %}0{% endif %} RUB</h5>
                </li>
                <li class="no-padding no-border">
                  <div class="row"> 
                    <div class="col-xs-6"> <a href="{% url 'cart:cart-page' %}" class="btn btn-small">КОРЗИНА</a></div>
                    {% if order.order_items.all %}
                      <div class="col-xs-6 "> <a href="{% url 'cart:checkout-page' %}" class="btn btn-1 btn-small">ОФОРМИТЬ</a></div>
                    {% else %}
                      <div class="col-xs-6 "> <a disabled href="" class="btn btn-1 btn-small">ОФОРМИТЬ</a></div>
                    {% endif %}
                  </div>
                </li>
                {% else %}
                  <li class="no-padding no-border">
                  <h5 class="text-center">В КОРЗИНЕ НЕТ ТОВАРОВ</h5>
                </li>
                <li class="no-padding no-border">
                  <div class="row">
                    <div class="col-xs-6"> <a href="{% url 'cart:cart-page' %}" class="btn btn-small">КОРЗИНА</a></div>
                    <div class="col-xs-6 "> <a href="" disabled class="btn btn-1 btn-small">ОФОРМИТЬ</a></div>
                  </div>
                </li>
                {% endif %}
              </ul>
            </li>
            {% cache 300 search_field %}
            <!--======= SEARCH ICON =========-->
            <li class="search-nav"><a><i class="fa fa-search"></i></a>
              <ul class="dropdown">
                <li class="row">
                  <div class="col-sm-4 no-padding">
                    <select class="selectpicker" id='select-search'>
                      <option>КАТЕГОРИИ</option>
                      {% for category in categories %}
                        <option>{{ category.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-sm-8 no-padding">
                    <form action="{% url 'shop:search-page' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="category-field" value="КАТЕГОРИИ" id='category-input'>
                      <input type="search" class="form-control" required placeholder="Поиск" name="search-field">
                      <button type="submit"> <i class="fa fa-search"></i> </button>
                    </form>
                  </div>
                </li>
              </ul>
            </li>
            {% endcache %}
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!-- Header End --> 