{% extends 'shop/base.html' %}

{% load static %}


{% block title %}Профиль{% endblock title %}

{% block header %}
  {% include 'shop/includes/header-light.html' %}
{% endblock header %}



{% block content %}
  <!-- CONTENT START -->
  <div class="content"> 
    
    <!--======= SUB BANNER =========-->
    <section class="sub-banner">
      <div class="container">
        <h4>ЛИЧНЫЙ КАБИНЕТ</h4>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="{% url 'shop:home-page' %}">Главная</a></li>
          <li class="active">ЛИЧНЫЙ КАБИНЕТ</li>
        </ol>
      </div>
    </section>

        <!--======= PAGES INNER =========-->
    <section class="section-p-30px pages-in">
      <div class="container">
        <div class="row"> 
          
          <!--======= SIDE BAR =========-->
          <div class="col-sm-3 animate fadeInLeft" data-wow-delay="0.2s">
            <div class="side-bar">
              
              <!-- HEADING -->
              <div class="heading">
                <h6 style="border-bottom: none;">{{ request.user.email }}</h6>
              </div>
              
              <!-- SIDR BAR -->
              <ul class="cate">
                
                <li><a href="{% url 'users:profile-page' %}" style="color: #af5875; padding-left: 5px;">Личные данные</a></li>
                <li><a href="{% url 'users:profile-orders-page' %}">Мои заказы</a></li>
                <li><a href="{% url 'users:wishlist-page' %}">Избранные товары</a></li>
                <li><a href="{% url 'shop:faq-page' 1 %}">Информация</a></li>
              </ul>
            </div>
          </div>
          {% if messages %}
            {% for message in messages %}
              <p hidden="true">{{message}}</p>
            {% endfor %}
          {% endif %}

        <!-- SELF INFO -->
        <div class="shopping-cart"> 
          <!-- SHOPPING INFORMATION -->
          <div class="cart-ship-info">
            <div class="row"> 
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-7" style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;">
                <h6>КОНТАКТНЫЕ ДАННЫЕ</h6>
                <form action="{% url 'users:profile-page' %}" method="POST">
                  {% csrf_token %}
                  <ul class="row">
                    <!-- EMAIL ADDRESS -->
                    <li class="col-md-6">
                      <label> EMAIL 
                        <input type="email" name="email" value="{{ user.email }}" placeholder="" disabled>
                      </label>
                    </li>
                    <!-- USERNAME -->
                    <li class="col-md-6">
                      <label>USERNAME
                        <input type="tel" name="username" value="{{ user.username }}" disabled>
                      </label>
                    </li>
                    <!-- Name -->
                    <li class="col-md-6">
                      <label>ИМЯ
                        <input type="text" name="first_name" value="{{ user.first_name }}" placeholder="">
                      </label>
                    </li>
                    <!-- LAST NAME -->
                    <li class="col-md-6">
                      <label>ФАМИЛИЯ
                        <input type="text" name="last_name" value="{{ user.last_name }}" placeholder="">
                      </label>
                    </li>
                    <!-- *COUNTRY -->
                    <li class="col-md-12">
                      <label>СТРАНА
                        <select class="selectpicker">
                          <option>РОССИЯ</option>
                        </select>
                      </label>
                    </li>
                    <!-- COUNTRY -->
                    <li class="col-md-6">
                      <label>РЕГИОН
                        <input type="text" name="region" value="{% if user.info.region %}{{ user.info.region }}{% endif %}" placeholder="Краснодарский край">
                      </label>
                    </li>
                    <!-- POSTCODE -->
                    <li class="col-md-6">
                      <label>ПОЧТОВЫЙ ИНДЕКС
                        <input type="number" name="index" value="{% if user.info.region %}{{ user.info.index }}{% endif %}" placeholder="123456" max='999999' min="000001">
                      </label>
                    </li>
                    <!-- TOWN/CITY -->
                    <li class="col-md-12">
                      <label>ГОРОД/НАСЕЛЕННЫЙ ПУНКТ
                        <input type="text" name="city" value="{% if user.info.region %}{{ user.info.city }}{% endif %}" placeholder="Сочи">
                      </label>
                    </li>
                    <li class="col-md-12"> 
                      <!-- ADDRESS -->
                      <label>АДРЕС
                        <input type="text" name="address" value="{% if user.info.region %}{{ user.info.address }}{% endif %}" placeholder="улица Пушкинская, д. 25, кв. 10">
                        <!-- <input type="text" name="address" value="" placeholder="Optional"> -->
                      </label>
                    </li>
                    <!-- PHONE -->
                    <li class="col-md-6">
                      <label> ТЕЛЕФОН
                        <input type="tel" name="phone" value="{% if user.info.region %}{{ user.info.phone }}{% endif %}" placeholder="+7">
                      </label>
                    </li>
                  </ul>
                  <p style="line-height: 15px; font-size: 10px; font-style: normal; font-family: 'Montserrat', sans-serif; color: #666666; margin-top: 10px;">
                    *Нажимая на кнопку "Сохранить", вы даете согласие на обработку персональных данных и соглашаетесь с <a target="_blank" style="color: #b26a82" href="{% url 'shop:privacy-page' %}">политикой конфидециальности</a>
                  </p>
                  <a href="{% url 'account_change_password' %}" class="btn btn-small btn-dark">Сменить пароль</a>
                  <button type="submit" class="btn btn-small btn-dark pull-right">Сохранить</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
    
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/jquery-1.11.3.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/own-menu.js' %}"></script> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
<script src="{% static 'js/jquery.isotope.min.js' %}"></script> 
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script> 
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}

