{% extends 'shop/base.html' %}

{% load static %}

{% load thumbnail %}

{% block title %}Wishlist{% endblock title %}

{% block header %}
  {% include 'shop/includes/header-light.html' %}
{% endblock header %}

{% block content %}
  
  <!-- CONTENT START -->
  <div class="content"> 
    
    <!--======= SUB BANNER =========-->
    <section class="sub-banner">
      <div class="container">
        <h4>ИЗБРАННЫЕ ТОВАРЫ</h4>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="{% url 'shop:home-page' %}">Home</a></li>
          <li class="active">Избранное</li>
        </ol>
      </div>
    </section>
    

      <!--======= PAGES INNER =========-->
      <section class="section-p-30px pages-in chart-page wish-list">
        <div class="container"> 
          
          {% if wish_products %}
            <!-- Payments Steps -->
            <div class="shopping-cart text-left">
              <div class="cart-head">
                <ul class="row">
                  <!-- PRODUCTS -->
                  <li class="col-sm-5">
                    <h6>ТОВАР</h6>
                  </li>
                  
                  <!-- PRICE -->
                  <li class="col-sm-2">
                    <h6>ЦЕНА</h6>
                  </li>
                  
                  <li class="col-sm-2">  <h6>В НАЛИЧИИ</h6></li>
                  
                  <li class="col-sm-2">  <h6>В КОРЗИНУ</h6></li>
                </ul>
              </div>

              
              {% for wish_product in wish_products %}          
                <!-- Cart Details -->
                <ul class="row cart-details">
                  <li class="col-sm-5">
                    <div class="media"> 
                      <!-- Media Image -->
                      <div class="media-left media-middle">
                        <a href="{{ wish_product.product.get_absolute_url }}" class="item-img"> 
                          {% thumbnail wish_product.product.title_image "150x188" crop="center" as im %}
                            <img class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                          {% endthumbnail %}
                        </a> 
                      </div>
                      
                      <!-- Item Name -->
                      <div class="media-body">
                          <h6>{{ wish_product.product.title|upper }}</h6>
                        
                      </div>
                    </div>
                  </li>
                  
                  
                  <!-- PRICE -->
                  <li class="col-sm-2">
                    <div class="position-center-center"> <span> ₽{{ wish_product.product.price }}</span> </div>
                  </li>
                  
                   <!-- STOCK -->
                  <li class="col-sm-2"> 
                    <div class="position-center-center">
                      {% if wish_product.product.is_active %}
                        В НАЛИЧИИ
                      {% else %}
                        НЕТ В НАЛИЧИИ
                      {% endif %}
                    </div>
                  </li>
                  
                  <!-- TOTAL PRICE -->
                  <li class="col-sm-2">
                    <div class="position-center-center"> <a href="#." class="btn">В КОРЗИНУ</a> </div>
                  </li>
                  
                  <!-- EDIT AND REMOVE -->
                  <li class="col-sm-1">
                    <div class="position-center-center"> <a href="{% url 'users:wishlist-delete' wish_product.product.slug %}"><i class="fa fa-times"></i></a> </div>
                  </li>
                </ul>
              {% endfor %}
            
            <!-- BTN INFO -->
            <div class="btn-sec"> 
              
              <!-- CLEAR SHOPPING CART --> 
              <a href="{% url 'users:wishlist-delete-all' %}" class="btn btn-dark"> <i class="fa fa-trash-o"></i>ОЧИСТИТЬ ИЗБРАННЫЕ</a> 
              
              <!-- UPDATE SHOPPING CART --> 
              <!-- <a href="#." class="btn btn-dark"> <i class="fa fa-arrow-circle-o-up"></i> UPDATE SHOPPING CART </a> 
               -->
              <!-- CONTINUE SHOPPING --> 
              <a href="{% url 'shop:shop-page' %}" class="btn btn-dark right-btn"> <i class="fa fa-shopping-cart"></i>ПРОДОЛЖИТЬ ПОКУПКИ</a> </div>
            
          </div>
        </div>
      {% else %}
        <p align="center">У ВАС ПОКА НЕТ ИЗБРАННЫХ ТОВАРОВ</p>
      {% endif %}

      <!--======= RELATED PRODUCTS =========-->
      <section class="section-p-60px new-arrival new-arri-w-slide">
        <div class="container"> 
          
          <!--  Tittle -->
          <div class="tittle tittle-2">
            <h5>RELATED PRODUCTS</h5>
            <p class="font-playfair">Most haver in your Shop </p>
          </div>
          
          <!--  New Arrival Tabs Products  -->
          <div class="popurlar_product client-slide"> 
            
            <!--  New Arrival  -->
            <div class="items-in"> 
              <!-- Image --> 
              <img src="{% static 'images/new-item-1.jpg' %}" alt=""> 
              <!-- Hover Details -->
              <div class="over-item">
                <ul class="animated fadeIn">
                  <li> <a href="images/new-item-1.jpg" data-lighter><i class="ion-search"></i></a></li>
                  <li> <a href="#."><i class="ion-shuffle"></i></a></li>
                  <li> <a href="#."><i class="fa fa-heart-o"></i></a></li>
                  <li class="full-w"> <a href="#." class="btn">ADD TO CART</a></li>
                  <!-- Rating Stars -->
                  <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                </ul>
              </div>
              <!-- Item Name -->
              <div class="details-sec"> <a href="#.">LOOSE-FIT TRENCH COAT</a> <span class="font-montserrat">129.00 USD</span> </div>
            </div>
            
            <!--  New Arrival  -->
            <div class="items-in"> 
              <!-- Image --> 
              <img src="{% static 'images/new-item-2.jpg' %}" alt=""> 
              <!-- Hover Details -->
              <div class="over-item">
                <ul class="animated fadeIn">
                  <li> <a href="images/new-item-2.jpg" data-lighter><i class="ion-search"></i></a></li>
                  <li> <a href="#."><i class="ion-shuffle"></i></a></li>
                  <li> <a href="#."><i class="fa fa-heart-o"></i></a></li>
                  <li class="full-w"> <a href="#." class="btn">ADD TO CART</a></li>
                  <!-- Rating Stars -->
                  <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                </ul>
              </div>
              <!-- Item Name -->
              <div class="details-sec"> <a href="#.">LOOSE-FIT TRENCH COAT</a> <span class="font-montserrat">129.00 USD</span> </div>
            </div>
            
            <!--  New Arrival  -->
            <div class="items-in"> 
              <!--  Tags  -->
              <div class="new-tag"> NEW </div>
              
              <!-- Image --> 
              <img src="{% static 'images/new-item-3.jpg' %}" alt=""> 
              <!-- Hover Details -->
              <div class="over-item">
                <ul class="animated fadeIn">
                  <li> <a href="images/new-item-3.jpg" data-lighter><i class="ion-search"></i></a></li>
                  <li> <a href="#."><i class="ion-shuffle"></i></a></li>
                  <li> <a href="#."><i class="fa fa-heart-o"></i></a></li>
                  <li class="full-w"> <a href="#." class="btn">ADD TO CART</a></li>
                  <!-- Rating Stars -->
                  <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                </ul>
              </div>
              <!-- Item Name -->
              <div class="details-sec"> <a href="#.">LOOSE-FIT TRENCH COAT</a> <span class="font-montserrat">129.00 USD</span> </div>
            </div>
            
            <!--  New Arrival  -->
            <div class="items-in"> 
              <!--  Tags  -->
              <div class="hot-tag"> HOT </div>
              <!-- Image --> 
              <img src="{% static 'images/new-item-4.jpg' %}" alt=""> 
              <!-- Hover Details -->
              <div class="over-item">
                <ul class="animated fadeIn">
                  <li> <a href="images/new-item-4.jpg" data-lighter><i class="ion-search"></i></a></li>
                  <li> <a href="#."><i class="ion-shuffle"></i></a></li>
                  <li> <a href="#."><i class="fa fa-heart-o"></i></a></li>
                  <li class="full-w"> <a href="#." class="btn">ADD TO CART</a></li>
                  <!-- Rating Stars -->
                  <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                </ul>
              </div>
              <!-- Item Name -->
              <div class="details-sec"> <a href="#.">LOOSE-FIT TRENCH COAT</a> <span class="font-montserrat">129.00 USD</span> </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/jquery-1.11.3.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/own-menu.js' %}"></script> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
<script src="{% static 'js/jquery.isotope.min.js' %}"></script> 
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script> 
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}
