{% extends 'shop/base.html' %}

{% load static %}
{% load sort_size %}

{% load thumbnail %}

{% block title %}Избранное{% endblock title %}

{% block header %}
  {% include 'shop/includes/header-light.html' %}
{% endblock header %}

{% block content %}
  
  <!-- CONTENT START -->
  <div class="content"> 
    
    <!--======= SUB BANNER =========-->
    <section class="sub-banner">
      <div class="container">
        <h4>ИЗБРАННЫЕ ТОВАРЫ</h4>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="{% url 'shop:home-page' %}">Главная</a></li>
          <li class="active">Избранное</li>
        </ol>
      </div>
    </section>
    

      <!--======= PAGES INNER =========-->
      <section class="section-p-30px pages-in chart-page wish-list">
        <div class="container"> 
          
          {% if wish_products %}
            <!-- Payments Steps -->
            <div class="shopping-cart text-left">
              <div class="cart-head">
                <ul class="row">
                  <!-- PRODUCTS -->
                  <li class="col-sm-5">
                    <h6>ТОВАР</h6>
                  </li>
                  
                  <!-- PRICE -->
                  <li class="col-sm-2">
                    <h6>ЦЕНА</h6>
                  </li>
                  
                  <li class="col-sm-2">  <h6>В НАЛИЧИИ</h6></li>
                  
                  <li class="col-sm-2">  <h6>В КОРЗИНУ</h6></li>
                </ul>
              </div>

              
              {% for wish_product in wish_products %}          
                <!-- Cart Details -->
                <ul class="row cart-details">
                  <li class="col-sm-5">
                    <div class="media"> 
                      <!-- Media Image -->
                      <div class="media-left media-middle">
                        <a href="{{ wish_product.product.get_absolute_url }}" class="item-img"> 
                          {% thumbnail wish_product.product.title_image "150x188" crop="center" as im %}
                            <img class="media-object" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                          {% endthumbnail %}
                        </a> 
                      </div>
                      
                      <!-- Item Name -->
                      <div class="media-body">
                          <a href="{{ wish_product.product.get_absolute_url }}"> 
                            <h6>{{ wish_product.product.title|upper }}</h6>
                          </a>
                        
                      </div>
                    </div>
                  </li>
                  
                  
                  <!-- PRICE -->
                  <li class="col-sm-2">
                    {% if wish_product.product.discount %}
                    <div class="position-center-center"> <span> ₽ {{ wish_product.product.get_price }}<br>(sale {{ wish_product.product.discount }}%)</span> </div>
                    {% else %}
                    <div class="position-center-center"> <span> ₽ {{ wish_product.product.price }}</span> </div>
                    {% endif %}
                  </li>
                  
                   <!-- STOCK -->
                  <li class="col-sm-2"> 
                    <div class="position-center-center">
                      {% if wish_product.product.items.all|distinct_size %}
                        В НАЛИЧИИ
                      {% else %}
                        НЕТ В НАЛИЧИИ
                      {% endif %}
                    </div>
                  </li>
                  
                  <!-- TOTAL PRICE -->
                  <li class="col-sm-2">
                    <div class="position-center-center"> <a href="" data-toggle="modal" data-target="#choiceModal{{ forloop.counter }}" class="btn">В КОРЗИНУ</a> </div>
                  </li>
                  
                  <!-- EDIT AND REMOVE -->
                  <li class="col-sm-1">
                    <div class="position-center-center"> <a href="{% url 'users:wishlist-delete' wish_product.product.slug %}"><i class="fa fa-times"></i></a> </div>
                  </li>
                </ul>
              {% endfor %}
            
            <!-- BTN INFO -->
            <div class="btn-sec"> 
              
              <!-- CLEAR SHOPPING CART --> 
              <a href="{% url 'users:wishlist-delete-all' %}" class="btn btn-dark"> <i class="fa fa-trash-o"></i>ОЧИСТИТЬ ИЗБРАННЫЕ</a> 
              
              <!-- UPDATE SHOPPING CART --> 
              <!-- <a href="#." class="btn btn-dark"> <i class="fa fa-arrow-circle-o-up"></i> UPDATE SHOPPING CART </a> 
               -->
              <!-- CONTINUE SHOPPING --> 
              <a href="{% url 'shop:shop-page' %}" class="btn btn-dark right-btn"> <i class="fa fa-shopping-cart"></i>ПРОДОЛЖИТЬ ПОКУПКИ</a> </div>
          </div>
        </div>
      {% else %}
        <p align="center" style="margin-bottom: 100px; margin-top: 50px; font-family: 'Montserrat', sans-serif;">У ВАС ПОКА НЕТ ИЗБРАННЫХ ТОВАРОВ</p>
      </div>
      </section>
      {% endif %}

      <!--======= RELATED PRODUCTS =========-->
      <section class="section-p-60px new-arrival new-arri-w-slide">
        <div class="container"> 
          
          <!--  Tittle -->
          <div class="tittle tittle-2">
            {% if wish_products %}
              <h5>ПОХОЖИЕ ТОВАРЫ</h5>
              <p class="font-playfair">Вам также может понравиться</p>
            {% else %}
              <h5>ПОПУЛЯРНЫЕ ТОВАРЫ</h5>
              <p class="font-playfair">Вам может понравиться</p>
            {% endif %}
          </div>
          
          <!--  New Arrival Tabs Products  -->
          <div class="popurlar_product client-slide"> 
            {% for product in related_products %}
              <!--  New Arrival  -->
              <div class="items-in"> 
                
              <!--  Tags  -->
              <!-- <div class="hot-tag">SALE</div> -->
<!--          {% if product.is_new %}
                <div class="new-tag">NEW </div>
              {% endif %} -->

                <!-- Image --> 
                {% thumbnail product.title_image "270x340" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                {% endthumbnail %}
                <!-- Hover Details -->
                <div class="over-item">
                  {% if product.discount %}
                    <div class="hot-tag">-{{ product.discount }}%</div>
                  {% endif %}
                  <ul class="animated fadeIn">
                    <li> <a href="images/new-item-1.jpg" data-lighter><i class="ion-search"></i></a></li>
                    <li> <a href="" data-toggle="modal" data-target="#shareModal" id="share-product1"><i class="ion-shuffle"></i></a></li>
                    <input id="share-input" hidden="true" value="{{ product.get_absolute_url }}">
                    {% if product not in wish_products %}
                      <li> <a href="{% url 'users:wishlist-add' product.slug %}"><i class="fa fa-heart-o"></i></a></li>
                    {% else %}
                      <li> <a href="{% url 'users:wishlist-delete' product.slug %}" style="background: #af5875; color: #fff;"><i class="fa fa-heart-o"></i></a></li>
                    {% endif %}
                    <li class="full-w"> <a href="" data-toggle="modal" data-target="#choiceModal{{ forloop.counter|add:100 }}" class="btn">В КОРЗИНУ</a></li>
                    <!-- Rating Stars -->
                    <!-- <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li> -->
                  </ul>
                </div>
                <!-- Item Name -->
                <div class="details-sec"> <a href="{{ product.get_absolute_url }}">{{product.title|upper }}</a> <span class="font-montserrat" style="text-decoration: line-through;">{% if product.discount %}{{ product.price }}{% endif %}</span> <span class="font-montserrat">{{ product.get_price }} RUB</span></div>
              </div>
            {% endfor %}
          </div>
        </div>
      </section>
  </div>


{% for wish_product in wish_products %}
<!-- Modal window -->
  <div class="modal fade" id="choiceModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="choiceModal{{ forloop.counter }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
      <div class="modal-content">
        <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <section class="pages-in item-detail-page">
            <form action="{% url 'cart:add-to-cart' wish_product.product.id %}" method="GET">
                <!-- size -->
                <div class="col-sm-12">
                  <div class="item-select"> 
                    <!--  SIZE -->
                    <p>*РАЗМЕР</p>
                    <select class="selectpicker" id='product-size'>
                      {% if wish_product.product.items.all|distinct_size %}
                      {% for size in wish_product.product.items.all|distinct_size %}
                      <option>{{ size }}</option>
                        {% endfor %}
                      {% else %}
                        <option disabled>ТОВАР ОТСУТСТВУЕТ</option>
                      {% endif %}
                    </select>
                    <input type="" id="size_input" hidden="true" name="size" value="{{ wish_product.product.items.all|distinct_size|first }}">
                  </div>
                </div>

                <div class="col-sm-12">
                  <p style="font-size: 12px; margin-top: 10px">{{ wish_product.product.description }}</p>
                </div>

                <div class="col-sm-12">
                  <p style="font-size: 12px; margin-top: 10px">Состав: {{ wish_product.product.compound }}</p>
                </div> 

                <div class="col-sm-12">
                  <p style="font-size: 12px; margin-top: 10px">Уход: {{ wish_product.product.care }}</p>
                </div> 
                {% if wish_product.product.items.all|distinct_size %}
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-small btn-dark float-right">В КОРЗИНУ</button>
                  </div>
                {% endif %}
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
<!-- end Modal window -->
{% endfor %}


{% for product in related_products %}
<!-- Modal window add to cart for related products -->
  <div class="modal fade" id="choiceModal{{ forloop.counter|add:100 }}" tabindex="-1" role="dialog" aria-labelledby="choiceModal{{ forloop.counter|add:100 }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
      <div class="modal-content">
        <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <section class="pages-in item-detail-page">
            <form action="{% url 'cart:add-to-cart' product.id %}" method="GET">
                <!-- size -->
                <div class="col-sm-12">
                  <div class="item-select"> 
                    <!--  SIZE -->
                    <p>*РАЗМЕР</p>
                    <select class="selectpicker" id='product-size'>
                      {% if product.items.all|distinct_size %}
                      {% for size in product.items.all|distinct_size %}
                      <option>{{ size }}</option>
                        {% endfor %}
                      {% else %}
                        <option disabled>ТОВАР ОТСУТСТВУЕТ</option>
                      {% endif %}
                    </select>
                    <input type="" id="size_input" hidden="true" name="size" value="{{ product.items.all|distinct_size|first }}">
                  </div>
                </div>

                <div class="col-sm-12">
                  <p style="font-size: 12px; margin-top: 10px">{{ product.description }}</p>
                </div>

                <div class="col-sm-12">
                  <p style="font-size: 12px; margin-top: 10px">Состав: {{ product.compound }}</p>
                </div> 

                <div class="col-sm-12">
                  <p style="font-size: 12px; margin-top: 10px">Уход: {{ product.care }}</p>
                </div> 
                {% if product.items.all|distinct_size %}
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-small btn-dark float-right">В КОРЗИНУ</button>
                  </div>
                {% endif %}
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
<!-- end Modal window -->
{% endfor %}

<!-- Modal window share product -->
<div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
    <div class="modal-content">
      <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="col">
          <h6 style="font-weight: 500; font-family: 'Montserrat', sans-serif;">ПОДЕЛИТЬСЯ</h6>
        </div>
        
        <div class="col">
          <p style="font-size: 11px; font-family: 'Montserrat', sans-serif;">Ссылка на товар скопирована в буфер обмена.</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- end Modal window -->

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/jquery-1.11.3.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/own-menu.js' %}"></script> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
<script src="{% static 'js/jquery.isotope.min.js' %}"></script> 
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script> 
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}
