{% extends 'shop/base.html' %}

{% load static %}

{% block header %}
  {% include 'shop/includes/header-light.html' %}
{% endblock header %}

{% block content %}

    {% block body %}

      {% block content_auth %}
      {% endblock %}

    {% endblock body %}
    
    {% block extra_body %}
    {% endblock %}

{% endblock content %}


{% block scripts %}
  <script src="{% static 'js/jquery-1.11.3.js' %}"></script> 
  <script src="{% static 'js/wow.min.js' %}"></script> 
  <script src="{% static 'js/bootstrap.min.js' %}"></script> 
  <script src="{% static 'js/own-menu.js' %}"></script> 
  <script src="{% static 'js/owl.carousel.min.js' %}"></script> 
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
  <script src="{% static 'js/jquery.isotope.min.js' %}"></script> 
  <script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 
  <script src="{% static 'js/main.js' %}"></script> 
{% endblock scripts %}