{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}Подтверждение{% endblock %}

{% block content_auth %}

<!--======= SUB BANNER =========-->
  <section class="sub-banner animate fadeInUp" data-wow-delay="0.4s">
    <div class="container">
      <h4>ПОДТВЕРЖДЕНИЕ</h4>
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="{% url 'shop:home-page' %}">Главная</a></li>
        <li class="active">ПОДТВЕРЖДЕНИЕ</li>
      </ol>
    </div>
  </section>
  
  <!-- CONTENT START -->
  <div class="content"> 

    <!--======= LOGIN =========-->
    <section class="animate fadeInUp" data-wow-delay="0.4s">
      <div class="container">

        <div class="shopping-cart">
          <div class="cart-ship-info">
            <div class="row justify-content-center" style="margin-bottom: 200px; margin-top: 100px;">
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <h6>ПОДТВЕРЖДЕНИЕ E-MAIL АДРЕСА</h6>
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                	{% if confirmation %}
							{% user_display confirmation.email_address.user as user_display %}
                  	{% csrf_token %}
                  <ul class="row">
                    <li class="col-md-12">
                        <p>{% blocktrans with confirmation.email_address.email as email %}Пожалуйста, подтвердите, что {{ email }} это электронная почта пользователя {{ user_display }}.{% endblocktrans %}</p>
                    </li>
                  {% else %}
                  	{% url 'account_email' as email_url %}
                  	<li class="col-md-12">
                        <p>{% blocktrans %}Эта ссылка для подтверждения уже недействительна, либо некорректна. Пожалуйста, <a href="{{ email_url }}">отправьте новый запрос для подтверждения электронной почты</a>.{% endblocktrans %}</p>
                    </li>
                  {% endif %}
                  </ul>
                  <button type="submit" class="btn btn-dark btn-small">ПОДТВЕРДИТЬ</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
