{% extends "account/base.html" %}

{% load i18n %}

{% block head %}CHANGE PASSWORD{% endblock %}

{% block content_auth %}

<!--======= SUB BANNER =========-->
  <section class="sub-banner animate fadeInUp" data-wow-delay="0.4s">
    <div class="container">
      <h4>СМЕНА ПАРОЛЯ</h4>
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="{% url 'shop:home-page' %}">Главная</a></li>
        <li class="active">СМЕНА ПАРОЛЯ</li>
      </ol>
    </div>
  </section>

    <!-- CONTENT START -->
  <div class="content"> 
    <!--======= CHANGE PASSWORD =========-->
    <section class="animate fadeInUp" data-wow-delay="0.4s">
      <div class="container">
        <div class="shopping-cart">
          <div class="cart-ship-info">
            <div class="row justify-content-center" style="margin-bottom: 200px; margin-top: 100px;">
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <h6>СМЕНА ПАРОЛЯ</h6>
                <form method="POST" action="{% url 'account_change_password' %}">
                  {% csrf_token %}
                  <ul class="row">
                    <li class="col-md-12"> 
                      <!-- EMAIL -->
                      <label>ТЕКУЩИЙ ПАРОЛЬ
                        {{ form.oldpassword }}
                      </label>
                    </li>
                    <li class="col-md-12"> 
                      <!-- PASSWORD -->
                      <label>НОВЫЙ ПАРОЛЬ
                        {{ form.password1 }}
                      </label>
                    </li>
                    <li class="col-md-12"> 
                      <!-- PASSWORD -->
                      <label>ПОВТОРИТЕ ПАРОЛЬ
                        {{ form.password2 }}
                      </label>
                    </li>
                  </ul>
					<a class="button" href="{% url 'account_reset_password' %}">Забыли пароль?</a>
                    <br>
                  <button type="submit" class="btn btn-dark btn-small">СМЕНИТЬ ПАРОЛЬ</button>
                  <br>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!-- 
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form> -->

{% endblock %}
