{% extends "account/base.html" %}

{% load i18n %}
{% block title %}CHANGE PASSWORD{% endblock %}

{% block content_auth %}


    <!--======= SUB BANNER =========-->
  <section class="sub-banner animate fadeInUp" data-wow-delay="0.4s">
    <div class="container">
      <h4>СМЕНА ПАРОЛЯ</h4>
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">СМЕНА ПАРОЛЯ</li>
      </ol>
    </div>
  </section>
  
  <!-- CONTENT START -->
  <div class="content"> 

    <!--======= LOGIN =========-->
    <section class="animate fadeInUp" data-wow-delay="0.4s">
      <div class="container">

        <div class="shopping-cart">
          <div class="cart-ship-info">
            <div class="row justify-content-center" style="margin-bottom: 200px; margin-top: 100px;">
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <h6>{% if token_fail %}BAD TOKEN{% else %}ФОРМА СМЕНЫ ПАРОЛЯ{% endif %}</h6>
                <form method="POST" action="{{ action_url }}">
                  {% csrf_token %}
                  <ul class="row">
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <li class="col-md-12">
                            <p>The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                        </li>
                    {% else %}
                        <li class="col-md-12"> 
                          <!-- PASSWORD1 -->
                          <label>НОВЫЙ ПАРОЛЬ
                            {{ form.password1 }}
                          </label>
                        </li>
                        <li class="col-md-12"> 
                          <!-- PASSWORD2 -->
                          <label>ПОВТОРИТЕ ПАРОЛЬ
                            {{ form.password2 }}
                          </label>
                        </li>
                    {% endif %}
                  </ul>
                  <button type="submit" name="action" class="btn btn-dark btn-small">СМЕНИТЬ ПАРОЛЬ</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
