{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block title %}PASSWORD RESET{% endblock %}

{% block content_auth %}
    <!--======= SUB BANNER =========-->
  <section class="sub-banner animate fadeInUp" data-wow-delay="0.4s">
    <div class="container">
      <h4>СБРОС ПАРОЛЯ</h4>
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">СБРОС ПАРОЛЯ</li>
      </ol>
    </div>
  </section>
  
  <!-- CONTENT START -->
  <div class="content"> 

    <!--======= LOGIN =========-->
    <section class="animate fadeInUp" data-wow-delay="0.4s">
      <div class="container">

        <div class="shopping-cart">
          <div class="cart-ship-info">
            <div class="row justify-content-center" style="margin-bottom: 200px; margin-top: 100px;">
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <h6>СБРОС ПАРОЛЯ</h6>
                <form method="POST" action="{% url 'account_reset_password' %}">
                  {% csrf_token %}
                  <ul class="row">
                    {% if user.is_authenticated %}
                        <li class="col-md-12">
                            {% include "account/snippets/already_logged_in.html" %}
                        </li>
                    {% endif %}
                    <li class="col-md-12">
                        <p>We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
                    </li>
                  </ul>
                  <a class="button">Please contact us if you have any trouble resetting your password.</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
