{% extends "account/base.html" %}

{% load i18n %}

{% block title %}SIGNUP{% endblock %}

{% block content_auth %}


  <!--======= SUB BANNER =========-->
  <section class="sub-banner animate fadeInUp" data-wow-delay="0.4s">
    <div class="container">
      <h4>REGISTRATION</h4>
      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="{% url 'shop:home-page' %}">Главная</a></li>
        <li class="active">РЕГИСТРАЦИЯ</li>
      </ol>
    </div>
  </section>
  
  <!-- CONTENT START -->
  <div class="content"> 

    <!--======= LOGIN =========-->
    <section class="animate fadeInUp" data-wow-delay="0.4s">
      <div class="container">

        <div class="shopping-cart">
          <div class="cart-ship-info">
            <div class="row justify-content-center" style="margin-bottom: 200px; margin-top: 100px;">
              <!-- ESTIMATE SHIPPING & TAX -->
              <div class="col-sm-3"></div>
              <div class="col-sm-6">
                <h6>ФОРМА ДЛЯ РЕГИСТРАЦИИ</h6>
                <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                	
                	{% csrf_token %}
          		   {% if redirect_field_value %}
					  	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
					   {% endif %}

                  <ul class="row">
                    <li class="col-md-12"> 
                      <!-- EMAIL -->
                      <label>*EMAIL
                        <!-- <input type="text" name="company" value="" placeholder=""> -->
                        {{ form.email }}
                      </label>
                    </li>
                    <li class="col-md-12"> 
                      <!-- USERNAME -->
                      <label>*USERNAME
                        <!-- <input type="text" name="address" value="" placeholder=""> -->
                        {{ form.username }}
                      </label>
                    </li>
                    <!-- PASSWORD1 -->
                    <li class="col-md-6">
                      <label> *PASSWORD
                        <!-- <input type="text" name="first-name" value="" placeholder=""> -->
                        {{ form.password1 }}
                      </label>
                    </li>
                    <!-- PASSWORD2 -->
                    <li class="col-md-6">
                      <label> *PASSWORD (AGAIN)
                        <!-- <input type="text" name="last-name" value="" placeholder=""> -->
                        {{ form.password2 }}
                      </label>
                    </li>
                  </ul>
                  <a class="button" href="{{ login_url }}">У вас уже есть аккаунт? Авторизоваться.</a>
                  <br>
                  <button type="submit" class="btn btn-dark btn-small">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
