{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Добрый день, {{ order.info.first_name }}!</p>
<p>Вы оплатили оформилленный ранее заказ на сайте Интернет-магазина BL_ishko</p>
<p>Заказ номер № <span style="color: #af5875;">{{ order.id }}</span> от {{ order.info.checked_out_date }} на сумму <b>{{ order.get_order_total_price_with_sale }} руб. оплачен</b>.</p>
<p>Для получения подробной информации по заказу пройдите на сайт https://blishko.com/user/my_orders/</p>

<table cellpadding="3" width="100%">
	<tr>
		<td>Номер заказа</td>
		<td>{{ order.id }}</td>
	</tr>
	<tr>
		<td>Дата</td>
		<td>{{ order.info.checked_out_date }}</td>
	</tr>
	<tr>
		<td>Кому</td>
		<td>{{ order.info.first_name }} {{ order.info.last_name }}</td>
	</tr>
	<tr>
		<td>Телефон покупателя</td>
		<td>{{ order.info.phone }}</td>
	</tr>
	<tr>
		<td>Способ оплаты</td>
		{% if order.info.payment_method == 'CARD' %}
			<td>Онлайн перевод на карту</td>
		{% else %}
			<td>Оплата наличными</td>
		{% endif %}
	</tr>
	<tr>
		<td>Адрес доставки</td>
		<td>{{ order.info.country }}, {{ order.info.region }}, {{ order.info.city }}, {{ order.info.index }}, {{ order.info.address }}</td>
	</tr>
</table>

<br>
<table border="1" style="border: 1px solid black; border-collapse: collapse;">
	<caption>Состав заказа</caption>
	<tr>
		<th>#</th>
		<th>Товар</th>
		<th>Размер</th>
		<th>Цвет</th>
		<th>Кол-во, шт.</th>
		<th>Цена, руб.</th>
		<th>Цена со скидкой, руб.</th>
		<th>Сумма, руб.</th>
	</tr>
	{% for order_item in order.order_items.all %}
	<tr align="center">
		<td>{{ forloop.counter }}</td>
		<td>{{ order_item.item.product.title }}</td>
		<td>{{ order_item.item.size }}</td>
		<td>{{ order_item.item.product.color }}</td>
		<td>{{ order_item.quantity }}</td>
		<td>{{ order_item.item.product.price }}</td>
		{% if order_item.item.product.discount > 0 %}
			<td>{{ order_item.item.product.get_price }}</td>
		{% else %}
			<td> - </td>
		{% endif %}
		<td>{% if order_item.item.product.discount %}{{ order_item.item_total_with_sale }}{% else %}{{ order_item.item_total }}{% endif %}</td>
	</tr>
	{% endfor %}
</table>
</body>
</html>