{% extends 'shop/base.html' %}

{% load static %}

{% block title %}КОРЗИНА{% endblock title %}

{% block header %}
  {% include 'shop/includes/header-light.html' %}
{% endblock header %}

{% block content %}
  <!-- CONTENT START -->
  <div class="content"> 
    
    <!--======= SUB BANNER =========-->
    <section class="sub-banner">
      <div class="container">
        <h4>ОФОРМЛЕНИЕ ЗАКАЗА</h4>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="{% url 'shop:home-page' %}">Главная</a></li>
          <li class="active">КОРЗИНА</li>
        </ol>
      </div>
    </section>
    
    <!--======= PAGES INNER =========-->
    <section class="section-p-30px pages-in chart-page">
      <div class="container"> 
        
        <!-- Payments Steps -->
        <div class="payment_steps">
          <ul class="row">
            <!-- SHOPPING CART -->
            <li class="col-sm-4 current"> <i class="fa fa-shopping-cart"></i>
              <h6>КОРЗИНА</h6>
            </li>
            
            <!-- CHECK OUT DETAIL -->
            <li class="col-sm-4"> <i class="fa fa-align-left"></i>
              <h6>CHECK OUT DETAIL</h6>
            </li>
            
            <!-- ORDER COMPLETE -->
            <li class="col-sm-4"> <i class="fa fa-check"></i>
              <h6>ORDER COMPLETE</h6>
            </li>
          </ul>
        </div>
        
        <!-- Payments Steps -->
        <div class="shopping-cart text-center">
          
          
          {% if order.order_items.all %}
            <div class="cart-head">
                  <ul class="row">
                    <!-- PRODUCTS -->
                    <li class="col-sm-3">
                      <h6>ТОВАРЫ</h6>
                    </li>
                    <!-- NAME -->
                    <li class="col-sm-3">
                      <h6>НАЗВАНИЕ</h6>
                    </li>
                    <!-- QTY -->
                    <li class="col-sm-1">
                      <h6>КОЛ-ВО</h6>
                    </li>
                    <!-- PRICE -->
                    <li class="col-sm-2">
                      <h6>ЦЕНА</h6>
                    </li>
                    <!-- TOTAL PRICE -->
                    <li class="col-sm-2">
                      <h6>СУММА</h6>
                    </li>
                    <li class="col-sm-1"> </li>
                  </ul>
                </div>
            {% for order_item in order.order_items.all %}
              <!-- Cart Details -->
              <ul class="row cart-details">
                <li class="col-sm-6">
                  <div class="media"> 
                    <!-- Media Image -->
                    <div class="media-left media-middle"> <a href="{{ order_item.item.product.get_absolute_url }}" class="item-img"> <img class="media-object" src="{{ order_item.item.product.title_image.url }}" alt=""> </a> </div>
                    
                    <!-- Item Name -->
                    <div class="media-body">
                      <div class="position-center-center">
                        <a href="{{ order_item.item.product.get_absolute_url }}"> 
                          <h6 >{{ order_item.item.product.title|upper|truncatechars:20 }}</h6>
                          <h6>{{ order_item.item.color }} - {{ order_item.item.size }}</h6>
                        </a>

                      </div>
                    </div>
                  </div>
                </li>
                
                <!-- QTY -->
                <li class="col-sm-1">
                  <div class="position-center-center">
                    <input type="text" value="{{ order_item.quantity }}">
                  </div>
                </li>
                
                <!-- PRICE -->
                <li class="col-sm-2">
                  <div class="position-center-center"> <span>{{ order_item.item.product.price }} RUB</span> </div>
                </li>
                <!-- TOTAL PRICE -->
                <li class="col-sm-2">
                  <div class="position-center-center"> <span>{% if order_item.item.product.discount %}{{ order_item.item_total_with_sale }} RUB (sale {{ order_item.item.product.discount }}%){% else %}{{ order_item.item_total }} RUB{% endif %}</span> </div>
                </li>
                
                <!-- EDIT AND REMOVE -->
                <li class="col-sm-1">
                  <div class="position-center-center"> 
                    <a href="#."><i class="fa fa-pencil-square-o"></i></a>
                    <a href="{% url 'cart:cart-delete-item' order_item.id %}"><i class="fa fa-times"></i></a>
                  </div>
                </li>
              </ul>
            {% endfor %}
          {% else %}
            <p style="margin-top: 40px; margin-bottom: 100px">В КОРЗИНЕ ПОКА НЕТ ТОВАРОВ</p>
          {% endif %}

          {% if order.order_items.all %}
            <!-- BTN INFO -->
            <div class="btn-sec"> 
              
              <!-- CLEAR SHOPPING CART --> 
              <a href="#." class="btn btn-dark"> <i class="fa fa-trash-o"></i> ОЧИСТИТЬ КОРЗИНУ </a> 
              
              <!-- UPDATE SHOPPING CART --> 
              <a href="{% url 'users:wishlist-page' %}" class="btn btn-dark"> <i class="fa fa-heart-o"></i> ПЕРЕЙТИ В ИЗБРАННОЕ </a> 
              
              <!-- CONTINUE SHOPPING --> 
              <a href="{% url 'shop:shop-page' %}" class="btn btn-dark right-btn"> <i class="fa fa-shopping-cart"></i> ПРОДОЛЖИТЬ ПОКУПКИ </a> </div>
            {% endif %}
            
            <!-- SHOPPING INFORMATION -->
            <div class="cart-ship-info">
              <div class="row">

                {% if order.order_items.all %}
                  <!-- DISCOUNT CODE -->
                  <div class="col-sm-4">
                    <!-- <h6>DISCOUNT CODE</h6>
                    <form>
                      <input type="text" value="" placeholder="ENTER YOUR CODE IF YOU HAVE ONE">
                      <button type="submit" class="btn btn-small btn-dark">APPLY CODE</button>
                    </form> -->
                  </div>
                  
                  <!-- ESTIMATE SHIPPING & TAX -->
                  <div class="col-sm-4">
                    <!-- <h6>ESTIMATE SHIPPING & TAX</h6> -->
                    <!-- <form> -->
                      <!-- *COUNTRY -->
                      <!-- <label> *COUNTRY
                        <select class="selectpicker">
                          <option>UNITED KINGDOM</option>
                          <option>UNITED STATE</option>
                          <option>PAKISTAN</option>
                        </select>
                      </label> -->
                      
                      <!-- STATE/PROVINCE -->
<!--                       <label> STATE/PROVINCE
                        <input type="text" value="" placeholder="">
                      </label> -->
                      <!-- ZIP/POSTAL CODE -->
                      <!-- <label> ZIP/POSTAL CODE
                        <input type="text" value="" placeholder="">
                      </label>
                      <button type="submit" class="btn btn-small btn-dark">APPLY CODE</button>
                    </form> -->
                  </div>
              {% else %}

                <div class="col-sm-4"></div>
                <div class="col-sm-4"></div>

              {% endif %}
              
              <!-- SUB TOTAL -->
              <div class="col-sm-4">
                <div class="grand-total"> <span>СУММА БЕЗ СКИДКИ: {{ order.get_order_total_price }} RUB</span>
                  <h4>СУММА: <span> {{ order.get_order_total_price_with_sale }} RUB </span></h4>
                  <a href="#." class="btn">ПЕРЕЙТИ К ОПЛАТЕ</a>
                  <p>Checkout with Multiple Addresses</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--======= RELATED PRODUCTS =========-->
      <section class="section-p-60px new-arrival new-arri-w-slide">
        <div class="container"> 
          
          <!--  Tittle -->
          <div class="tittle tittle-2">
            <h5>RELATED PRODUCTS</h5>
            <p class="font-playfair">Most haver in your Shop </p>
          </div>
          
          <!--  New Arrival Tabs Products  -->
          <div class="popurlar_product client-slide"> 
            
            <!--  New Arrival  -->
            <div class="items-in"> 
              <!-- Image --> 
              <img src="{% static 'images/new-item-1.jpg' %}" alt=""> 
              <!-- Hover Details -->
              <div class="over-item">
                <ul class="animated fadeIn">
                  <li> <a href="images/new-item-1.jpg" data-lighter><i class="ion-search"></i></a></li>
                  <li> <a href="#."><i class="ion-shuffle"></i></a></li>
                  <li> <a href="#."><i class="fa fa-heart-o"></i></a></li>
                  <li class="full-w"> <a href="#." class="btn">ADD TO CART</a></li>
                  <!-- Rating Stars -->
                  <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                </ul>
              </div>
              <!-- Item Name -->
              <div class="details-sec"> <a href="#.">LOOSE-FIT TRENCH COAT</a> <span class="font-montserrat">129.00 USD</span> </div>
            </div>
            
            <!--  New Arrival  -->
            <div class="items-in"> 
              <!-- Image --> 
              <img src="{% static 'images/new-item-2.jpg' %}" alt=""> 
              <!-- Hover Details -->
              <div class="over-item">
                <ul class="animated fadeIn">
                  <li> <a href="images/new-item-2.jpg" data-lighter><i class="ion-search"></i></a></li>
                  <li> <a href="#."><i class="ion-shuffle"></i></a></li>
                  <li> <a href="#."><i class="fa fa-heart-o"></i></a></li>
                  <li class="full-w"> <a href="#." class="btn">ADD TO CART</a></li>
                  <!-- Rating Stars -->
                  <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                </ul>
              </div>
              <!-- Item Name -->
              <div class="details-sec"> <a href="#.">LOOSE-FIT TRENCH COAT</a> <span class="font-montserrat">129.00 USD</span> </div>
            </div>
            
            <!--  New Arrival  -->
            <div class="items-in"> 
              <!--  Tags  -->
              <div class="new-tag"> NEW </div>
              
              <!-- Image --> 
              <img src="{% static 'images/new-item-3.jpg' %}" alt=""> 
              <!-- Hover Details -->
              <div class="over-item">
                <ul class="animated fadeIn">
                  <li> <a href="images/new-item-3.jpg" data-lighter><i class="ion-search"></i></a></li>
                  <li> <a href="#."><i class="ion-shuffle"></i></a></li>
                  <li> <a href="#."><i class="fa fa-heart-o"></i></a></li>
                  <li class="full-w"> <a href="#." class="btn">ADD TO CART</a></li>
                  <!-- Rating Stars -->
                  <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                </ul>
              </div>
              <!-- Item Name -->
              <div class="details-sec"> <a href="#.">LOOSE-FIT TRENCH COAT</a> <span class="font-montserrat">129.00 USD</span> </div>
            </div>
            
            <!--  New Arrival  -->
            <div class="items-in"> 
              <!--  Tags  -->
              <div class="hot-tag"> HOT </div>
              <!-- Image --> 
              <img src="{% static 'images/new-item-4.jpg' %}" alt=""> 
              <!-- Hover Details -->
              <div class="over-item">
                <ul class="animated fadeIn">
                  <li> <a href="images/new-item-4.jpg" data-lighter><i class="ion-search"></i></a></li>
                  <li> <a href="#."><i class="ion-shuffle"></i></a></li>
                  <li> <a href="#."><i class="fa fa-heart-o"></i></a></li>
                  <li class="full-w"> <a href="#." class="btn">ADD TO CART</a></li>
                  <!-- Rating Stars -->
                  <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                </ul>
              </div>
              <!-- Item Name -->
              <div class="details-sec"> <a href="#.">LOOSE-FIT TRENCH COAT</a> <span class="font-montserrat">129.00 USD</span> </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  {% endblock content %}


{% block scripts %}
<script src="{% static 'js/jquery-1.11.3.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/own-menu.js' %}"></script> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
<script src="{% static 'js/jquery.isotope.min.js' %}"></script> 
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script> 
<script src="{% static 'js/main.js' %}"></script>
{% endblock scripts %}