<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Главная{% endblock title %} | BL_ishko</title>
<meta name="keywords" content="BL_ishko eccomerce,BL_ishko,bl_ishko,underwear,shop,eccomerce">
<meta name="description" content="BL_ishko - underwear eccomerce">
<meta name="author" content="Sofy">

{% load static %}
{% load thumbnail %}
{% load sort_size %}
{% load cache %}


<!-- FONTS ONLINE -->
<link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<!--MAIN STYLE-->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/animate.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

<!-- FAVICON -->
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicons_txt2/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicons_txt2/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicons_txt2/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/favicons_txt2/site.webmanifest' %}">

<!-- ADD YOUR OWN STYLING HERE. AVOID TO USE STYLE.CSS AND MAIN.CSS. IT WILL BE HELPFUL FOR YOU IN FUTURE UPDATES -->
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

<!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/settings.css' %}" media="screen" />

<!-- JavaScripts -->
<script src="{% static 'js/modernizr.js' %}"></script>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

</head>
<body>
<!-- LOADER ===========================================-->
<div id="loader">
  <div class="loader">
    <div class="position-center-center">
      <img src="{% static 'images/dark-logo.png' %}" width="23%" alt="">
      <div class="loading">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
    </div>
  </div>
</div>

<!-- Page Wrap -->
<div id="wrap"> 

  {% block header %}
    {% include 'shop/includes/header-dark.html' %}
  {% endblock header %}


  {% block content %}
    <!--======= HOME MAIN SLIDER =========-->
    <section class="home-slider">
      <div class="tp-banner-container">
        <div class="tp-banner" >
          <ul>
            
            <!-- Slider 1 -->
            <li data-transition="fade" data-slotamount="7"> <img src="{% static 'images/slides/slide-1.jpg' %}" data-bgposition="center top" alt="" />
              <div class="overlay"></div>
              <!-- Layer -->
              <div class="tp-caption sft tp-resizeme rs-parallaxlevel-5" 
                    data-x="center" 
                    data-y="235" 
                    data-speed="700" 
                    data-start="1700" 
                    data-easing="easeOutBack"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on"> <img src="{% static 'images/logo-deer.png' %}" alt="" /> </div>
              
              <!-- Layer -->
              <div class="tp-caption sft font-montserrat tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="330" 
                    data-speed="700" 
                    data-start="2700" 
                    data-easing="easeOutBack"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on"
                    style="color: #fff; font-size: 36px; text-transform: uppercase;"> CELINE PARIS </div>
              
              <!-- Layer -->
              <div class="tp-caption customin font-playfair tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="360" 
                    data-speed="720" 
                    data-start="3200" 
                    data-easing="easeOutBack"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on" 
                    style="color: #fff; text-transform: uppercase; font-size: 130px; font-style:italic;"> UP to 70% </div>
              
              <!-- Layer -->
              <div class="tp-caption sfb  font-playfair text-center tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="540" 
                    data-speed="1500" 
                    data-start="3200" 
                    data-easing="easeOutBack"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on" 
                    style="color: #fff; font-size: 16px; text-transform: uppercase;"> BY DONIA R., DUTCH BLOGGER AT WWW.DONIAZ.NL FROM LONDON, UNITED KINGDOM </div>
              
              <!-- Layer -->
              <div class="tp-caption sfb tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="570" 
                    data-speed="700" 
                    data-start="4000" 
                    data-easing="easeOutBack"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on"> <a href="#." class="btn">Shop Now</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="#" class="btn btn-1">Discover</a> </div>
            </li>
            
            <!-- Slider 2 -->
            <li data-transition="random" data-slotamount="7"> <img src="{% static 'images/slides/slide-2.jpg' %}" data-bgposition="center center" alt="" />
              <div class="overlay"></div>
              
              <!-- Layer -->
              <div class="tp-caption sft font-montserrat  tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="285" 
                    data-speed="700" 
                    data-start="1000" 
                    data-easing="easeOutBack"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on"
                    style="color: #fff; font-size: 120px; text-transform: uppercase; font-weight: bold;"> HUGE SALE </div>
              
              <!-- Layer -->
              <div class="tp-caption sft tp-resizeme font-montserrat rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="450" 
                    data-speed="700" 
                    data-start="1700" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-easing="Back.easeOut" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on"
                    style="color: #fff; font-size: 18px; text-transform: uppercase; font-weight: bold;  letter-spacing:3px;"> ASOS T-shirt With Stripe Sleeve </div>
              
              <!-- Layer -->
              <div class="tp-caption sft tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="500" 
                    data-speed="700" 
                    data-start="2400"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-easing="Back.easeOut" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on"> <a href="#." class="btn btn-1">SHOPPING NOW</a> </div>
            </li>
            
            <!-- Slider 3 -->
            <li data-transition="random" data-slotamount="7"> <img src="{% static 'images/slides/slide-3.jpg' %}" data-bgposition="center center" alt="" />
              <div class="overlay"></div>
              
              <!-- SLIDER LAYERS -->
              <div class="tp-caption white-line-box sft tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" data-y="332"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-speed="700" 
                    data-start="1000" 
                    data-easing="Back.easeOut" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on" 
         
                    style="z-index: 10;"> </div>
              
              <!-- Layer -->
              <div class="tp-caption white-line-box sfb tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="420"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-speed="700" 
                    data-start="1000" 
                    data-easing="Back.easeOut" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on" 
                    style="z-index: 10;"> </div>
              
              <!-- Layer -->
              <div class="tp-caption font-montserrat customin tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="335" 
                    data-speed="700" 
                    data-start="1000" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-easing="Back.easeOut" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on"
                    style="color: #fff; font-size: 60px; text-transform: uppercase; font-weight: bold; letter-spacing:3px;"> NEW ARRIVAL </div>
              
              <!-- Layer -->
              <div class="tp-caption sfb tp-resizeme  font-playfair text-center rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="450" 
                    data-speed="700" 
                    data-start="1700" 
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-easing="Back.easeOut" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on"
                    style="color: #fff; font-size: 18px; font-weight: normal; font-style:italic; letter-spacing:0px;"> Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava<br>
                bean collard greens danadelion. </div>
              
              <!-- Layer -->
              <div class="tp-caption sfb tp-resizeme rs-parallaxlevel-4" 
                    data-x="center" 
                    data-y="520" 
                    data-speed="700" 
                    data-start="2400"
                    data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" 
                    data-easing="Back.easeOut" 
                    data-splitin="none" 
                    data-splitout="none" 
                    data-elementdelay="0.1" 
                    data-endelementdelay="0.1" 
                    data-endspeed="300" 
                    data-captionhidden="on"
                    style="z-index: 10;"> <a href="#." class="btn">Shop Now</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href="#" class="btn btn-1">Discover</a> </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    
    <!-- CONTENT START -->
    <div class="content"> 
      
      <!--======= COLLECRION =========-->
      <section class="section-p-30px collection-adds">
        <div class="container">

          <!--  Tittle -->
          <!-- <div class="tittle animate fadeInUp" data-wow-delay="0.4s">
            <h5>КОЛЛЕКЦИИ</h5>
          </div> -->

          <ul class="row">
            {% cache 300 categories_preview %}
              {% for category in categories|slice:":4" %}
                <!-- Collection Add -->
                <li class="col-sm-3 animate fadeInLeft" data-wow-delay="0.4s">
                <div class="inn-sec"> 
                  <a href="{{ category.get_absolute_url }}">
                    {% thumbnail category.image "270x269" crop="center" as im  %}
                      <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt=""> 
                      <span>{{ category.title|upper }}</span> </a> 
                    {% endthumbnail %}
                </div>
              </li>
              {% endfor %}
            {% endcache %}
          </ul>
        </div>
      </section>
            
      <!--======= Add Blocks =========-->
      <section class="section-p-30px add_block_2">
        <div class="container">
          <ul class="row">
            <li class="col-sm-6 animate fadeInLeft" data-wow-delay="0.4s"> <a href="#."><img src="{% static 'images/add_block_1.jpg' %}" alt=""></a> </li>
            <li class="col-sm-6 animate fadeInRight" data-wow-delay="0.4s"> <a href="#."><img src="{% static 'images/add_block_2.jpg' %}" alt=""></a> </li>
          </ul>
        </div>
      </section>
      
      <!--======= New Arrival =========-->
      <section class="section-p-30px new-arrival">
        <div class="container"> 
          
          <!--  Tittle -->
          <div class="tittle animate fadeInUp" data-wow-delay="0.4s">
            <h5>НОВИНКИ</h5>
          </div>
          
          <!-- Nav tabs -->
          <ul class="nav nav-tabs animate fadeInUp" data-wow-delay="0.4s" role="tablist">

            {% for category in categories %}
              {% if category.products.all %}
                <li role="presentation" {% if forloop.counter == 1 %} class="active" {% endif %}>
                  <a href="#{{ category.slug }}" aria-controls="{{ category.slug }}" role="tab" data-toggle="tab">{{ category.title|upper }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>

              <!-- Tab panes -->
              <div class="tab-content animate fadeInUp" data-wow-delay="0.4s">

            {% for category in categories %}
              {% if category.products.all %}

              <!-- PRODUCTS IN CATEGORY  -->
                <div role="tabpanel" {% if forloop.counter == 1 %}class="tab-pane fade in active"{% else %}class="tab-pane fade"{% endif %} id="{{ category.slug }}"> 
                  
                  <!--  New Arrival Tabs Products  -->
                  <div class="popurlar_product">
                    <ul class="row">
                      {% for product in category.products.all|slice:":4"%}
                        <!--  New Arrival  -->
                        <li class="col-sm-3">
                          <div class="items-in"> 
                            <!-- Image -->
                            {% thumbnail product.title_image "270x340" crop="center" as im %}
                              <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                            {% endthumbnail %}
                            <!-- Hover Details -->
                            <div class="over-item">
                              <ul class="animated fadeIn">
                                {% thumbnail product.title_image "378x476" crop="center" as im %}
                                  <li> <a href="{{ im.url }}" data-lighter><i class="ion-search"></i></a></li>
                                {% endthumbnail %}
                                <li> <a href="" id="share-product1" data-toggle="modal" data-target="#shareModal"><i class="ion-shuffle"></i></a></li>
                                <input id="share-input" hidden="true" value="{{ product.get_absolute_url }}">
                                
                                {% if request.user.is_authenticated %}
                                  {% if product not in wish_list_products %}
                                    <li> <a href="" class="wishlist-status" data-domain="{{ domain_url }}" data-product="{{ product.id }}" data-action="add-item"><i class="fa fa-heart-o"></i></a></li>
                                  {% else %}
                                    <li> <a href="" class="wishlist-status" data-domain="{{ domain_url }}" data-product="{{ product.id }}" data-action="delete-item" style="background: #af5875; color: #fff;"><i class="fa fa-heart-o"></i></a></li>
                                  {% endif %}
                                {% else %}
                                    <li> <a href="{% url 'account_login' %}"><i class="fa fa-heart-o"></i></a></li>
                                {% endif %}
                                <li class="full-w"> <a href="" data-toggle="modal" data-target="#choiceModal{{ forloop.counter }}{{ category.id }}" class="btn">В КОРЗИНУ</a></li>
                              </ul>
                            </div>
                            <!-- Item Name -->
                            <div class="details-sec"> <a href="{{ product.get_absolute_url }}">{{ product.title|upper|truncatechars:40 }}</a> <span class="font-montserrat" style="text-decoration: line-through;">{% if product.discount %}{{ product.price }}{% endif %}</span> <span class="font-montserrat">{{ product.get_price }} RUB</span> </div>
                          </div>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </section>
      
      <!--======= New Arrival =========-->
      <section class="about-sebian bg-1 animate fadeInUp" data-wow-delay="0.4s" data-stellar-background-ratio="0.4">
        <div class="section-p-60px overlay ">
          <div class="container"> 
            
            <!--  Tittle -->
            <div class="tittle white animate fadeInUp" data-wow-delay="0.4s">
              <h5>О НАС</h5>
            </div>
            
            <!--  Intro Text  -->
            <div class="text-center animate fadeInUp" data-wow-delay="0.4s">
              <p class="intro-small text-center">Душещепательный слоган магазина размером на две строчки</p>
              <!-- <a href="#." class="btn btn-small"> MORE STORIES</a> </div> -->
            <div class="clients-about-in"> 
              
              <!--  Tittle -->
              <div class="tittle white animate fadeInUp" data-wow-delay="0.4s">
                <h5>ОТЗЫВЫ НАШИХ КЛИЕНТОВ</h5>
                <!-- <p>Our Stories</p> -->
              </div>
              
              <!--  What People Says -->
              <div class="clients-about-slider animate fadeInUp" data-wow-delay="0.4s"> 
                
                <!--  Slide 1 -->
                <div class="media">
                  <div class="media-left"> 
                    <!--  Avatar -->
                    <div class="avatar"> <img class="media-object" src="{% static 'images/avatar-1.jpg' %}" alt=""> </div>
                  </div>
                  <!--  Text -->
                  <div class="media-body">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua.”</p>
                    <hr>
                    <h6>TYRION LANNISTER</h6>
                    <span>Founder-Ceo. Dell Corp</span> </div>
                </div>
                
                <!--  Slide 2 -->
                <div class="media">
                  <div class="media-left"> 
                    <!--  Avatar -->
                    <div class="avatar"> <img class="media-object" src="{% static 'images/avatar-2.jpg' %}" alt=""> </div>
                  </div>
                  <!--  Text -->
                  <div class="media-body">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua.”</p>
                    <hr>
                    <h6>SANSA STARK</h6>
                    <span>Founder-Ceo. Dell Corp</span> </div>
                </div>
                
                <!--  Slide 3 -->
                <div class="media">
                  <div class="media-left"> 
                    <!--  Avatar -->
                    <div class="avatar"> <img class="media-object" src="{% static 'images/avatar-3.jpg' %}" alt=""> </div>
                  </div>
                  <!--  Text -->
                  <div class="media-body">
                    <p>“Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                      labore et dolore magna aliqua.”</p>
                    <hr>
                    <h6>john now</h6>
                    <span>Founder-Ceo. Dell Corp</span> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!--======= Popurlar Product =========-->
      <section class="section-p-60px blog">
        <div class="container"> 
          <!--  Tittle -->
          <div class="tittle animate fadeInUp" data-wow-delay="0.4s">
            <h5>НОВОСТИ МАГАЗИНА</h5>
          </div>
    
          <!--  Blog Posts -->
          <div class="blog-posts">
            <ul class="row">
              {% cache 300 blogs %}
                {% for post in posts %}
                  <!--  Posts 1 -->
                  <li class="col-sm-6 animate fadeInLeft" data-wow-delay="0.4s"> 
                    <!--  Image --> 
                    {% thumbnail post.image "570x340" crop="center" as im %}
                      <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                    {% endthumbnail %}
                    <span class="tags">{{ post.category }}</span> <a class="tittle-post font-playfair">{{ post.title }}</a>
                    <p>{{ post.text }}</p>
                    <!--  Post Info -->
                    <ul class="info">
                      <li><i class="fa fa-user"></i> {{ post.author }}</li>
                      <li><i class="fa fa-calendar-o"></i> {{ post.date|date:"d M" }}</li>
                      <!-- <li><i class="fa fa-eye"></i> 325</li> -->
                    </ul>
                  </li>
                {% endfor %}
                {% endcache %}
            </ul>
          </div>
        </div>
      </section>

      {% for category in categories %}
        {% for product in category.products.all|slice:":4" %}
        <!-- Modal window -->
          <div class="modal fade" id="choiceModal{{ forloop.counter }}{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="choiceModal{{ forloop.counter }}{{ category.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
              <div class="modal-content">
                <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
                  <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <section class="pages-in item-detail-page">
                    <form action="{% url 'cart:add-to-cart' product.id %}" method="GET">
                        <!-- size -->
                        <div class="col-sm-12">
                          <div class="item-select"> 
                            <!--  SIZE -->
                            <p>*РАЗМЕР</p>
                            <select class="selectpicker" id='product-size'>
                              {% if product.items.all|distinct_size %}
                                {% for size in product.items.all|distinct_size %}
                                  <option>{{ size }}</option>
                                {% endfor %}
                              {% else %}
                                <option disabled>ТОВАР ОТСУТСТВУЕТ</option>
                              {% endif %}
                            </select>
                            <input type="" id="size_input" hidden="true" name="size" value="{{ product.items.all|distinct_size|first }}">
                          </div>
                        </div>

                        <div class="col-sm-12">
                          <p style="font-size: 12px; margin-top: 10px">{{ product.description }}</p>
                        </div>

                        <div class="col-sm-12">
                          <p style="font-size: 12px; margin-top: 10px">Состав: {{ product.compound }}</p>
                        </div> 

                        <div class="col-sm-12">
                          <p style="font-size: 12px; margin-top: 10px">Уход: {{ product.care }}</p>
                        </div> 
                        {% if product.items.all|distinct_size %}
                          <div class="col-sm-12">
                            <button type="submit" class="btn btn-small btn-dark float-right">В КОРЗИНУ</button>
                          </div>
                        {% endif %}
                    </form>
                  </section>
                </div>
              </div>
            </div>
          </div>
        <!-- end Modal window -->
        {% endfor %}
      {% endfor %}
      
            <!-- Modal window share product -->
            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
                <div class="modal-content">
                  <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col">
                      <h6 style="font-weight: 500; font-family: 'Montserrat', sans-serif;">ПОДЕЛИТЬСЯ</h6>
                    </div>
                    
                    <div class="col">
                      <p style="font-size: 11px; font-family: 'Montserrat', sans-serif;">Ссылка на товар скопирована в буфер обмена.</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- end Modal window -->

    </div>
  {% endblock content %}

  {% block footer %}
    {% include 'shop/includes/footer.html' %}
  {% endblock footer %}

    <!-- GO TO TOP --> 
    <a href="#" class="cd-top"><i class="fa fa-angle-up"></i></a> 
    <!-- GO TO TOP End --> 
  </div>
<!-- Wrap End --> 

{% block scripts %}
<script src="{% static 'js/jquery-1.11.3.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/own-menu.js' %}"></script> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 
<script src="{% static 'js/jquery.isotope.min.js' %}"></script> 


<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script> 
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/wishlist.js' %}"></script> 
<script>
jQuery(document).ready(function($) {
  
  //  Price Filter ( noUiSlider Plugin)
    $("#price-range").noUiSlider({
    range: {
      'min': [ 0 ],
      'max': [ 1000 ]
    },
    start: [40, 940],
        connect:true,
        serialization:{
            lower: [
        $.Link({
          target: $("#price-min")
        })
      ],
      upper: [
        $.Link({
          target: $("#price-max")
        })
      ],
      format: {
      // Set formatting
        decimals: 1,
        prefix: '₽'
      }
        }
  });
})

</script>
{% endblock scripts %}
</body>
</html>