{% extends 'shop/base.html' %}

{% load static %}
{% load sort_size %}
{% load comment_end %}

{% load thumbnail %}

{% block title %}{{ product.title|upper }}{% endblock title %}

{% block header %}
  {% include 'shop/includes/header-light.html' %}
{% endblock header %}

{% block content %}
  
  <!-- CONTENT START -->
  <div class="content"> 
    
    <!--======= SUB BANNER =========-->
    <section class="sub-banner animate fadeInUp" data-wow-delay="0.4s">
      <div class="container">
        <h4>{{ product.title|upper }}</h4>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="{% url 'shop:home-page' %}">Главная</a></li>
          <li><a href="{% url 'shop:shop-page' %}">МАГАЗИН</a></li>
          <li class="active">{{ product.title|upper }}</li>
        </ol>
      </div>
    </section>
    
    <!--======= PAGES INNER =========-->
    <section class="section-p-30px pages-in item-detail-page">
      <div class="container">
        <div class="row"> 
          
          <!--======= IMAGES SLIDER =========-->
          <div class="col-sm-6 large-detail animate fadeInLeft" data-wow-delay="0.4s">
            <div class="images-slider">
              <ul class="slides">
              <!--======= TITLE IMAGE =========-->
                <li data-thumb="{{ product.title_image.url }}"> 
                    {% thumbnail product.title_image "570x660" crop="center" as im %}
                      <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt=""> 
                    {% endthumbnail %}
                </li>
                <!--======= PRODUCT IMAGES =========-->
                {% for product_image in product.images.all %}
                  <li data-thumb="{{ product_image.image.url }}"> 
                    {% thumbnail product_image.image "570x660" crop="center" as im %}
                      <img class="img-responsive" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt=""> 
                    {% endthumbnail %}
                  </li>
                {% endfor %}

<!--                 <li data-thumb="{{ product.images.first.image.url }}"> <img class="img-responsive" src="{{ product.images.first.image.url }}"  alt=""> </li>
                <li data-thumb="{% static 'images/item-detail-img-2.jpg' %}"> <img class="img-responsive" src="{% static 'images/item-detail-img-2.jpg' %}"  alt=""> </li>
                <li data-thumb="{% static 'images/item-detail-img-3.jpg' %}"> <img class="img-responsive" src="{% static 'images/item-detail-img-3.jpg' %}"  alt=""> </li>
                <li data-thumb="{% static 'images/item-detail-img-4.jpg' %}"> <img class="img-responsive" src="{% static 'images/item-detail-img-4.jpg' %}"  alt=""> </li>
                <li data-thumb="{% static 'images/item-detail-img-5.jpg' %}"> <img class="img-responsive" src="{% static 'images/item-detail-img-5.jpg' %}"  alt=""> </li> -->
              </ul>
            </div>
          </div>
          
          <!--======= ITEM DETAILS =========-->
          <div class="col-sm-6 animate fadeInRight" data-wow-delay="0.4s">
            <div class="row">
              <div class="col-sm-12">
                <h5>{{ product.title|upper }}</h5>
                {% if product.discount %}
                <span class="price">{{ product.get_price }} RUB ({{ product.price}} RUB - {{ product.discount }}%)</span>
                {% else %}
                <span class="price">{{ product.price }} RUB</span>
                {% endif %}
              </div>
              <div class="col-sm-12"> <span class="code">КАТЕГОРИЯ: {{ product.category.title|upper }} | ЦВЕТ: {{ product.color|upper }}</span>
                <div class="some-info no-border"> <br>
                  {% if product.items.all|distinct_size %}
                    <div class="in-stoke"> <i class="fa fa-check-circle"></i>В НАЛИЧИИ</div>
                  {% else %}
                    <div class="in-stoke"> НЕТ В НАЛИЧИИ</div>
                  {% endif %}
                  <!-- <div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></div> -->
                  <a href="#review" class="review" style="margin-left: 7px;">({{ product.comments.all.count }}) Отзывы</a> &nbsp;&nbsp;&nbsp; <a href="#review-form" class="review">Оставить отзыв</a></div>
                <hr>
              </div>
            </div>
            <p>{{ product.description }}</p>
            <p>Состав: {{ product.compound }}</p>
            <p>Уход: {{ product.care }}</p>

            <hr>
            <form action="{% url 'cart:add-to-cart' product.id %}" method="GET">
              <div class="row">
                <div class="col-sm-12">
                  <div class="item-select"> 

                    <!-- COLOR -->
                    <!-- <p>*ЦВЕТ</p> -->
                    <!-- <select class="selectpicker" id='product-color'> -->
                      <!-- <option>PLEASE SELETCT</option> -->
<!--                       {% for item in product.items.all %}
                        <option val>{{ item.color|upper }}</option>
                      {% endfor %}
                    </select> -->
                    <!-- <input type="" id="color_input" hidden="true" name="color" value="{{ product.items.all.0.color }}"> -->
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="item-select"> 

                    <!--  SIZE -->
                    <p>*РАЗМЕР</p>
                    <select class="selectpicker" id='product-size'>
                      <!-- <option>PLEASE SELETCT</option> -->
                      {% if product.items.all|distinct_size %}
                        {% for size in product.items.all|distinct_size %}
                          <option>{{ size }}</option>
                        {% endfor %}
                      {% else %}
                        <option disabled>ТОВАР ОТСУТСТВУЕТ</option>
                      {% endif %}
                    </select>
                    <input type="" id="size_input" hidden="true" name="size" value="{{ product.items.all|distinct_size|first }}">

                    <a href="" data-toggle="modal" data-target="#sizeModal"><p>ТАБЛИЦА РАЗМЕРОВ</p></a>
                  </div>
                </div>
              </div>
              <div class="row"> 
                <!-- QUIENTY -->
                <div class="col-sm-12">
                  <div class="fun-share">
                    <input type="number" max="9" value=1 id="product-quantity">
                    <input type="hidden" id="quantity_input" name="quantity" value="1">
                    {% if product.items.all|distinct_size %}
                      <button type="submit" class="btn btn-small btn-dark">В КОРЗИНУ</button>
                    {% else %}
                      <button type="submit" class="btn btn-small btn-dark" disabled>В КОРЗИНУ</button>
                    {% endif %}
                    <a href="" data-toggle="modal" data-target="#shareModal" id="share-product" class="share-sec"><i class="ion-shuffle"></i></a>
                    {% if product not in wish_list_products %}
                      <a class="share-sec" href="{% url 'users:wishlist-add' product.slug %}"><i class="fa fa-heart-o"></i></a> 
                    {% else %}
                      <a class="share-sec" href="{% url 'users:wishlist-delete' product.slug %}" style="background: #af5875; color: #fff;"><i class="fa fa-heart-o"></i></a> 
                    {% endif %}
                  </div>
                </div>
            </form>

              <!-- SHARE -->
              <div class="col-sm-12">
                <ul class="share-with">
                  <li>
                    <p>ПОДЕЛИТЬСЯ</p>
                  </li>
                  <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#."><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#."><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#."><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
        <!--======= PRODUCT DESCRIPTION =========-->
        <div class="item-decribe animate fadeInUp" data-wow-delay="0.4s">
          <div class="text-center"> 
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="#descr" aria-controls="men" role="tab" data-toggle="tab">ОПИСАНИЕ</a></li>
              <li role="presentation"><a href="#tags" aria-controls="access" role="tab" data-toggle="tab">СОСТАВ</a></li>
              <li role="presentation" class="active"><a href="#review" aria-controls="women" role="tab" data-toggle="tab">ОТЗЫВЫ ({{ product.comments.all.count }})</a></li>
            </ul>
          </div>
          <!-- Tab panes -->
          <div class="tab-content"> 
            <!-- DESCRIPTION -->
            <div role="tabpanel" class="tab-pane fade" id="descr">
              <p>{{ product.description }}<br>
                <br></p>
            </div>

            <!-- TAGS -->
            <div role="tabpanel" class="tab-pane fade" id="tags">
              <p>Состав: {{ product.compound }}<br>
                <br></p>
              <p>Уход: {{ product.care }}<br>
                <br></p>
            </div>

            <!-- REVIEW -->
            <div role="tabpanel" class="tab-pane fade  in active" id="review">
              {% if product.comments.all %}
                <h6>{{ product.comments.all.count|change_comment_end }} О ТОВАРЕ</h6>
              {% else %}
                <p>ПОКА НЕТ ОТЗЫВОВ, СТАНЬТЕ ПЕРВЫМ</p>
              {% endif %}
              
              {% for comment in product.comments.all %}
                <!-- REVIEW PEOPLE 1 -->
                <div class="media">
                  <div class="media-left"> 
                    <!--  Image -->
                    <!-- <div class="avatar"> <a> <img class="media-object" src="{% static 'images/avatar-1.jpg' %}" alt=""> </a> </div> -->
                  </div>
                  <!--  Details -->
                  <div class="media-body">
                    <p class="font-playfair">{{ comment.text }}</p>
                    <h6>{{ comment.user.username }}<span class="pull-right">{{ comment.adding_date }}</span> </h6>
                  </div>
                </div>
              {% endfor %}

              {% if user.is_authenticated %}
              <!-- ADD REVIEW -->
                <h6 class="margin-t-40">ОСТАВИТЬ ОТЗЫВ</h6>
                <form id="review-form" action="{% url 'shop:detail-page' product.slug %}" method="POST">
                  {% csrf_token %}
                  <ul class="row">
                    <!-- <li class="col-sm-6">
                      <label> *ИМЯ
                        <input type="text" value="" placeholder="">
                      </label>
                    </li>
                    <li class="col-sm-6">
                      <label> *EMAIL
                        <input type="email" value="" placeholder="">
                      </label>
                    </li> -->
                    <li class="col-sm-12">
                      <label> *ВАШ ОТЗЫВ
                        <textarea required name='comment_text'></textarea>
                      </label>
                    </li>
                    <li class="col-sm-6"> 
                      <!-- Rating Stars -->
                      <!-- <div class="stars"> <span>ОЦЕНКА</span> <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div> -->
                    </li>
                    <li class="col-sm-6">
                      <button type="submit" class="btn btn-dark btn-small pull-right no-margin">ОПУБЛИКОВАТЬ</button>
                    </li>
                  </ul>
                </form>
              {% else %}
                <p class="font-playfair" style="margin-top: 20px;">Для того чтобы оставить комментарий необходимо <a href="{% url 'account_login' %}">авторизироваться</a>.</p>
              {% endif %}
            </div>

        </div>
      </div>
      
      <!--======= RELATED PRODUCTS =========-->
      <section class="section-p-60px new-arrival new-arri-w-slide">
        <div class="container"> 
          
          <!--  Tittle -->
          <div class="tittle tittle-2 animate fadeInUp" data-wow-delay="0.4s">
            <h5>ПОХОЖИЕ ТОВАРЫ</h5>
            <p class="font-playfair">Вам также может понравиться</p>
          </div>
          
          <!--  New Arrival Tabs Products  -->
          <div class="popurlar_product client-slide animate fadeInUp" data-wow-delay="0.4s"> 
            
            <!--  New Arrival  -->

              {% for product in related_products %}
              <!--  New Arrival  -->
              <div class="items-in"> 
              <!--  Tags  -->
              <!-- <div class="new-tag"> NEW </div> -->
              <!-- <div class="hot-tag"> HOT </div> -->
                <!-- Image --> 
                {% thumbnail product.title_image "270x340" crop="center" as im %}
                  <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                {% endthumbnail %}
                <!-- Hover Details -->
                <div class="over-item">
                  {% if product.discount %}
                    <div class="hot-tag">-{{ product.discount }}%</div>
                  {% endif %}
                  <ul class="animated fadeIn">
                    <li> <a href="images/new-item-1.jpg" data-lighter><i class="ion-search"></i></a></li>
                    <li> <a href="" data-toggle="modal" data-target="#shareModal" id="share-product1"><i class="ion-shuffle"></i></a></li>
                    <input id="share-input" hidden="true" value="{{ product.get_absolute_url }}">
                    {% if product not in wish_list_products %}
                      <li> <a href="{% url 'users:wishlist-add' product.slug %}"><i class="fa fa-heart-o"></i></a></li>
                    {% else %}
                      <li> <a href="{% url 'users:wishlist-delete' product.slug %}" style="background: #af5875; color: #fff;"><i class="fa fa-heart-o"></i></a></li>
                    {% endif %}
                    <li class="full-w"> <a href="" data-toggle="modal" data-target="#choiceModal{{ forloop.counter|add:100 }}" class="btn">В КОРЗИНУ</a></li>
                    <!-- Rating Stars -->
                    <!-- <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li> -->
                  </ul>
                </div>
                <!-- Item Name -->
                <div class="details-sec"> <a href="{{ product.get_absolute_url }}">{{product.title|upper }}</a> <span class="font-montserrat" style="text-decoration: line-through;">{% if product.discount %}{{ product.price }}{% endif %}</span> <span class="font-montserrat">{{ product.get_price }} RUB</span></div>
              </div>
            {% endfor %}
        </div>

        <!-- Modal window size table -->
        <div class="modal fade" id="sizeModal" tabindex="-1" role="dialog" aria-labelledby="sizeModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
            <div class="modal-content">
              <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="col">
                  <h6 style="font-weight: 400;">ТАБЛИЦА РАЗМЕРОВ</h6>
                </div>
                
                <div class="col">
                  <p style="font-size: 11px;">Общая таблица размеров показывает нашу стандартную размерную линейку.</p>
                </div>

                <!-- First table -->
                <div class="col">
                  <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="table-th" style="vertical-align: middle;"><div class="table-header"><span class="font-montserrat">INT</span></div></th>
                      <th scope="col" class="table-th" style="vertical-align: middle;"><div class="table-header"><span class="font-montserrat">RU</span></div></th>
                      <th scope="col" class="table-th" style="vertical-align: middle;"><div class="table-header"><span class="font-montserrat">Обхват<br>груди</span></div></th>
                      <th scope="col" class="table-th" style="vertical-align: middle;"><div class="table-header"><span class="font-montserrat">Обхват<br>талии</span></div></th>
                      <th scope="col" class="table-th" style="vertical-align: middle;"><div class="table-header"><span class="font-montserrat">Обхват<br>бедер</span></div></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-row">
                      <th scope="row" class="row-header">XXS</th>
                      <td class="row-header">40</td>
                      <td>80</td>
                      <td>60</td>
                      <td>88</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">XX</th>
                      <td class="row-header">42</td>
                      <td>84</td>
                      <td>64</td>
                      <td>92</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">S</th>
                      <td class="row-header">44</td>
                      <td>88</td>
                      <td>68</td>
                      <td>98</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">M</th>
                      <td class="row-header">46</td>
                      <td>92</td>
                      <td>72</td>
                      <td>100</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">L</th>
                      <td class="row-header">48</td>
                      <td>96</td>
                      <td>76</td>
                      <td>104</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">XL</th>
                      <td class="row-header">50</td>
                      <td>100</td>
                      <td>80</td>
                      <td>108</td>
                    </tr>
                  </tbody>
                </table>
                </div>

                <!-- Second table -->
                <div class="col">
                  <h6 style="font-weight: 400;">ОБМЕРЫ ИЗДЕЛИЯ</h6>
                </div>

                <div class="col">
                  <table class="table">
                  <thead>
                    <tr>
                      <th scope="col" class="table-th" style="vertical-align: middle;"><div class="table-header"><span class="font-montserrat">INT</span></div></th>
                      <th scope="col" class="table-th" style="vertical-align: middle;"><div class="table-header"><span class="font-montserrat">Длина<br>изделия</span></div></th>
                      <th scope="col" class="table-th" style="vertical-align: middle;"><div class="table-header"><span class="font-montserrat">Обхват<br>груди</span></div></th>
                      <th scope="col" class="table-th" style="vertical-align: middle;"><div class="table-header"><span class="font-montserrat">Длина<br>рукава</span></div></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-row">
                      <th scope="row" class="row-header">XXS</th>
                      <td>40</td>
                      <td>80</td>
                      <td>60</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">XX</th>
                      <td>42</td>
                      <td>84</td>
                      <td>64</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">S</th>
                      <td>44</td>
                      <td>88</td>
                      <td>68</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">M</th>
                      <td>46</td>
                      <td>92</td>
                      <td>72</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">L</th>
                      <td>48</td>
                      <td>96</td>
                      <td>76</td>
                    </tr>
                    <tr class="table-row">
                      <th scope="row" class="row-header">XL</th>
                      <td>50</td>
                      <td>100</td>
                      <td>80</td>
                    </tr>
                  </tbody>
                </table>
                </div>

                <div class="col">
                  <p style="font-size: 11px;">Все размеры указаны в сантиметрах.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end Modal window -->

        <!-- Modal window share product -->
        <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
            <div class="modal-content">
              <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="col">
                  <h6 style="font-weight: 500;">ПОДЕЛИТЬСЯ</h6>
                </div>
                
                <div class="col">
                  <p style="font-size: 11px;">Ссылка на товар скопирована в буфер обмена.</p>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- end Modal window -->

      </section>
    </section>
  </div>


  
  {% endblock content %}
</div>
<!-- Wrap End --> 

{% block scripts %}
  <script src="{% static 'js/jquery-1.11.3.js' %}"></script> 
  <script src="{% static 'js/wow.min.js' %}"></script> 
  <script src="{% static 'js/bootstrap.min.js' %}"></script> 
  <script src="{% static 'js/own-menu.js' %}"></script> 
  <script src="{% static 'js/owl.carousel.min.js' %}"></script> 
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
  <script src="{% static 'js/jquery.isotope.min.js' %}"></script> 
  <script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 
  <script src="{% static 'js/jquery.elevatezoom.js' %}"></script> 

  <!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
  <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script> 
  <script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script> 
  <script src="{% static 'js/main.js' %}"></script> 
  <script>
  $(".zoom_05").elevateZoom({ 
  	zoomType	: "inner", 
  	cursor		: "crosshair"
  }); 
  </script>
{% endblock scripts %}

</body>
</html>