{% extends 'shop/base.html' %}

{% load static %}
{% load sort_size %}

{% load thumbnail %}
{% load mathfilters %}

{% block title %}Магазин{% endblock title %}

{% block header %}
  {% include 'shop/includes/header-light.html' %}
{% endblock header %}


{% block content %}
  <!-- CONTENT START -->
  <div class="content"> 
    
    <!--======= SUB BANNER =========-->
    <section class="sub-banner animate fadeInUp" data-wow-delay="0.4s">
      <div class="container">
        <h4>{% if category %}{{ category.title|upper }}{% else %}ВСЕ ТОВАРЫ{% endif %}</h4>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="{% url 'shop:home-page' %}">Главная</a></li>
          <li class="active">МАГАЗИН</li>
        </ol>
      </div>
    </section>
    
    <!--======= PAGES INNER =========-->
    <section class="section-p-30px pages-in">
      <div class="container">
        <div class="row"> 
          
          <!--======= SIDE BAR =========-->
          <div class="col-sm-3 animate fadeInLeft" data-wow-delay="0.2s">
            <div class="side-bar">
              <h4>Фильтры</h4>
              
              <!-- HEADING -->
              <div class="heading">
                <h6>КАТЕГОРИИ</h6>
              </div>
              
              <!-- CATEGORIES -->
              <ul class="cate">
                {% for category in categories %}
                <li><a href="{{ category.get_absolute_url }}">{{ category.title }} <span>({{ category.products.count }})</span></a></li>
                {% endfor %}
<!--                 <li><a href="#.">Woman <span>(9)</span></a> </li>
                <li><a href="#.">Kid’s <span>(25)</span></a> </li>
                <li class="drop-menu"> <a href="#." class="title collapsed" data-toggle="collapse" data-target="#access"> Accessories <span>(15)</span></a>
                  <div class="collapse" id="access">
                    <div class="well">
                      <ul>
                        <li><a href="#.">Men</a></li>
                        <li><a href="#.">Woman</a></li>
                        <li><a href="#.">Kid</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#.">Bag & Shoes <span>(8)</span></a> </li>
                <li class="drop-menu"> <a href="#." class="title collapsed" data-toggle="collapse" data-target="#watches"> Watch <span>(15)</span></a>
                  <div class="collapse" id="watches">
                    <div class="well">
                      <ul>
                        <li><a href="#.">Men Watch</a></li>
                        <li><a href="#.">Woman Watch</a></li>
                        <li><a href="#.">Kid Watch</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#.">Sale <span> (11)</span></a> </li>
                <li><a href="#.">Top Rate <span>(35)</span></a> </li>
                <li><a href="#.">Collections <span>(17)</span></a> </li> -->
                <li><a href="{% url 'shop:contact-page' %}">СВЯЗАТЬСЯ С НАМИ </a> </li>
              </ul>

              <!-- HEADING -->
              <div class="heading">
                <h6>РАЗМЕР</h6>
              </div>

              <!-- SIZE -->
              <ul class="cate">
                {% for size in size_list %}
                  {% if color %}
                    <li><a href="?size={{ size }}&color={{ color }}">{{ size }}<span></span></a></li>
                  {% else %}
                    <li><a href="?size={{ size }}">{{ size }}<span></span></a></li>
                  {% endif %}
                  
                {% endfor %}
              </ul>

              <!-- HEADING -->
              <div class="heading">
                <h6>ЦВЕТ</h6>
              </div>
              
              <!-- COLOR -->
              <ul class="cate">
                {% for color in color_list %}
                  {% if size %}
                    <li><a href="?color={{ color }}&size={{ size }}">{{ color }} <span></span></a></li>
                  {% else %}
                    <li><a href="?color={{ color }}">{{ color }} <span></span></a></li>
                  {% endif %}
                {% endfor %}
                <!-- <li class="drop-menu"> <a href="#." class="title collapsed" data-toggle="collapse" data-target="#color"> White/Black <span>(15)</span></a>
                  <div class="collapse" id="color">
                    <div class="well">
                      <ul>
                        <li><a href="#.">Red</a></li>
                        <li><a href="#.">Purple</a></li>
                        <li><a href="#.">Yellow</a></li>
                      </ul>
                    </div>
                  </div>
                </li> -->
              </ul>
              
              <!-- HEADING -->
              <div class="heading">
                <h6>ЦЕНА</h6>
              </div>
              <!-- PRICE -->
              <form {% if category %}action="{{ category.get_absolute_url }}"{% else %}action="{% url 'shop:shop-page' %}" {% endif %} method="GET">
                <div class="cost-price-content">
                  <div id="price-range" class="price-range"></div>
                  <span id="price-min" class="price-min">20</span>
                  <input type="hidden" value="" id="price-min-input" name="min-price">
                  <span id="price-max" class="price-max">80</span>
                  <input type="hidden" value="" id="price-max-input" name="max-price">
                  {% if color %}
                    <input type="hidden" value="{{ color }}" name="color">
                  {% endif %}
                  {% if size %}
                    <input type="hidden" value="{{ size }}" name="size">
                  {% endif %}
                </div>
                <button type="submit" class="btn btn-small btn-dark" style="font-family: 'Montserrat', sans-serif;">ФИЛЬТР</button>
              </form>
              
              <!-- TAGS -->
<!--               <h4 class="margin-t-40">Product Tags</h4>
              <ul class="tags">
                <li><a href="#.">FASHION</a></li>
                <li><a href="#.">BAGS</a></li>
                <li><a href="#.">TABLET</a></li>
                <li><a href="#.">ELECTRONIC</a></li>
                <li><a href="#.">BEAUTY</a></li>
                <li><a href="#.">TRtENDING</a></li>
                <li><a href="#.">SHOES</a></li>
              </ul> -->
              
              <!-- COMPAIR BOX -->
<!--               <h4 class="margin-t-40">Compare</h4>
              <div class="compair-box">
                <div class="position-center-center full-width text-center"> No products to compare </div>
              </div>
              <a href="#." class="btn btn-small btn-dark" >Compare</a>  -->
              
              <!-- ADS-->
<!--               <div class="sider-bar-ads"> <img src="images/side-bar-ad.jpg" alt="" >
                <div class="position-center-center full-width text-center"> 1805 <a href="#." class="btn btn-small btn-dark" >SHOP NOW</a> </div>
              </div> -->
            </div>
          </div>
          
          <!--======= ITEMS =========-->
          <div class="col-sm-9 animate fadeInUp" data-wow-delay="0.2s">
            <div class="items-short-type animate fadeInUp" data-wow-delay="0.4s"> 
              
              <!--======= GRID LIST STYLE =========-->
              <!-- <div class="grid-list"> <a href="#."><i class="fa fa-th-large"></i></a> <a href="#."><i class="fa fa-th-list"></i></a> </div> -->
              
              <!--======= SORT BY =========-->
              <div class="short-by">
              <!--   <select class="selectpicker">
                  <option>По новинкам</option>
                  <option>По убыванию цены</option>
                  <option>По возрастанию цены</option>
                  <option>По скидкам</option>
                </select> -->
                <input type="hidden" value="По убыванию цены" name="sort_by">
                {% if products and not color and not min_price %}
                  <p style="margin-left: 0;">Показаны 1-{% if products.count < 12 %}{{ products.count }}{% else %}12{% endif %} из {{ products.count }} товаров</p>
                {% endif %}

                {% if color or min_price or max_price or size %}
                  {% if size %}
                    <p style="margin-left: 0;">Размер: {{ size }}{% if min_price or max_price or color %} | {% endif %}</p>
                  {% endif %}

                  {% if color %}
                    <p style="margin-left: 0;">Цвет: {{ color }}{% if min_price or max_price %} | {% endif %}</p>
                  {% endif %}

                  {% if min_price or max_price %}
                    <p style="margin-left: 0;">Цена: {{ min_price }} - {{ max_price }} RUB</p>
                  {% endif %}
                {% endif %}
                <p></p>
              </div>
              
              <!--======= VIEW ITEM NUMBER =========-->
              

              <div class="view-num">
                <ul>
                  {% if category or color or min_price or max_price %}
                  <li><a href="{% url 'shop:shop-page' %}">Сбросить фильтры</a></li>
                  {% else %}
                  <li><a>Все товары</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
            
            <!--======= Products =========-->
            <div class="popurlar_product">
              <ul class="row">

                {% for product in products %}
                <!-- New Products -->
                <li class="col-sm-4 animate fadeIn" data-wow-delay="{% if forloop.counter > 3 %}{% if forloop.counter|mod:3 == 0 %}0.6{% else %}{{ forloop.counter|mod:3|mul:0.2 }}{% endif %}{% else %}{{ forloop.counter|mul:0.2 }}{% endif %}s">
                  <div class="items-in"> 
                    <!-- Image -->
                    {% thumbnail product.title_image "270x340" crop="center" as im %}
                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                    {% endthumbnail %}
                    <!-- Hover Details -->
                    <div class="over-item">

                      <!--  Tags  -->
                      {% if product.discount %}
                        <div class="hot-tag">-{{ product.discount }}%</div>
                      {% endif %}

                      <ul class="animated fadeIn">
                        {% thumbnail product.title_image "378x476" crop="center" as im %}
                          <li> <a href="{{ im.url }}" data-lighter><i class="ion-search"></i></a></li>
                        {% endthumbnail %}
                        <li> <a href="" id="share-product1" data-toggle="modal" data-target="#shareModal"><i class="ion-shuffle"></i></a></li>
                        <input id="share-input" hidden="true" value="{{ product.get_absolute_url }}">
                        {% if product not in wish_list_products %}
                          <li> <a href="{% url 'users:wishlist-add' product.slug %}"><i class="fa fa-heart-o"></i></a></li>
                        {% else %}
                          <li> <a href="{% url 'users:wishlist-delete' product.slug %}" style="background: #af5875; color: #fff;"><i class="fa fa-heart-o"></i></a></li>
                        {% endif %}
                        <li class="full-w"> <a href="" data-toggle="modal" data-target="#choiceModal{{ forloop.counter }}" class="btn">В КОРЗИНУ</a></li>
                      </ul>
                    </div>
                    <!-- Item Name -->
                    <div class="details-sec"> <a href="{{ product.get_absolute_url }}">{{ product.title|upper }}</a> <span class="font-montserrat" style="text-decoration: line-through;">{% if product.discount %}{{ product.price }}{% endif %}</span> <span class="font-montserrat">{{ product.get_price }} RUB</span> </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>

            {% for product in products %}
            <!-- Modal window -->
              <div class="modal fade" id="choiceModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="choiceModal{{ forloop.counter }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
                  <div class="modal-content">
                    <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <section class="pages-in item-detail-page">
                        <form action="{% url 'cart:add-to-cart' product.id %}" method="GET">
                            <!-- size -->
                            <div class="col-sm-12">
                              <div class="item-select"> 
                                <!--  SIZE -->
                                <p>*РАЗМЕР</p>
                                <select class="selectpicker" id='product-size'>
                                  {% if product.items.all|distinct_size %}
                                    {% for size in product.items.all|distinct_size %}
                                      <option>{{ size }}</option>
                                    {% endfor %}
                                  {% else %}
                                    <option disabled>ТОВАР ОТСУТСТВУЕТ</option>
                                  {% endif %}
                                </select>
                                <input type="" id="size_input" hidden="true" name="size" value="{{ product.items.all|distinct_size|first }}">
                              </div>
                            </div>

                            <div class="col-sm-12">
                              <p style="font-size: 12px; margin-top: 10px">{{ product.description }}</p>
                            </div>

                            <div class="col-sm-12">
                              <p style="font-size: 12px; margin-top: 10px">Состав: {{ product.compound }}</p>
                            </div> 

                            <div class="col-sm-12">
                              <p style="font-size: 12px; margin-top: 10px">Уход: {{ product.care }}</p>
                            </div> 
                            {% if product.items.all|distinct_size %}
                              <div class="col-sm-12">
                                <button type="submit" class="btn btn-small btn-dark float-right">В КОРЗИНУ</button>
                              </div>
                            {% endif %}
                        </form>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            <!-- end Modal window -->
            {% endfor %}

            <!-- Modal window share product -->
            <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
                <div class="modal-content">
                  <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="col">
                      <h6 style="font-weight: 500; font-family: 'Montserrat', sans-serif;">ПОДЕЛИТЬСЯ</h6>
                    </div>
                    
                    <div class="col">
                      <p style="font-size: 11px; font-family: 'Montserrat', sans-serif;">Ссылка на товар скопирована в буфер обмена.</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!-- end Modal window -->
            
            <!--======= PAGINATION =========-->
<!--             <ul class="pagination animate fadeInUp" data-wow-delay="0.4s">
              <li><a href="#.">1</a></li>
              <li><a href="#.">2</a></li>
              <li><a href="#.">3</a></li>
              <li><a href="#.">4</a></li>
              <li><a href="#.">5</a></li>
              <li><a href="#."><i class="fa fa-angle-right"></i></a></li>
            </ul> -->
            <ul class="pagination animate fadeInUp" data-wow-delay="0.4s" style="border-bottom: none; border-top: none;"></ul>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/jquery-1.11.3.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/own-menu.js' %}"></script> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
<script src="{% static 'js/jquery.isotope.min.js' %}"></script> 
<script src="{% static 'js/jquery.nouislider.min.js' %}"></script> 
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script> 
<script src="{% static 'js/main.js' %}"></script> 
<script>
jQuery(document).ready(function($) {
  
  //  Price Filter ( noUiSlider Plugin)
    $("#price-range").noUiSlider({
    range: {
      'min': [ 0 ],
      'max': [ 1000 ]
    },
    start: [40, 940],
        connect:true,
        serialization:{
            lower: [
        $.Link({
          target: $("#price-min")
        })
      ],
      upper: [
        $.Link({
          target: $("#price-max")
        })
      ],
      format: {
      // Set formatting
        decimals: 1,
        prefix: '₽'
      }
        }
  });
})

</script>
{% endblock scripts %}