{% extends 'shop/base.html' %}

{% load static %}

{% load thumbnail %}
{% load mathfilters %}

{% block title %}Shop{% endblock title %}

{% block header %}
  {% include 'shop/includes/header-light.html' %}
{% endblock header %}


{% block content %}
  <!-- CONTENT START -->
  <div class="content"> 
    
    <!--======= SUB BANNER =========-->
    <section class="sub-banner animate fadeInUp" data-wow-delay="0.4s">
      <div class="container">
        <h4>{% if category %}{{ category.title|upper }}{% else %}ВСЕ ТОВАРЫ{% endif %}</h4>
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
          <li><a href="{% url 'shop:home-page' %}">Главная</a></li>
          <li class="active">МАГАЗИН</li>
        </ol>
      </div>
    </section>
    
    <!--======= PAGES INNER =========-->
    <section class="section-p-30px pages-in">
      <div class="container">
        <div class="row"> 
          
          <!--======= SIDE BAR =========-->
          <div class="col-sm-3 animate fadeInLeft" data-wow-delay="0.2s">
            <div class="side-bar">
              <h4>Фильтры</h4>
              
              <!-- HEADING -->
              <div class="heading">
                <h6>КАТЕГОРИИ</h6>
              </div>
              
              <!-- CATEGORIES -->
              <ul class="cate">
                {% for category in categories %}
                <li><a href="{{ category.get_absolute_url }}">{{ category.title }} <span>({{ category.products.count }})</span></a></li>
                {% endfor %}
<!--                 <li><a href="#.">Woman <span>(9)</span></a> </li>
                <li><a href="#.">Kid’s <span>(25)</span></a> </li>
                <li class="drop-menu"> <a href="#." class="title collapsed" data-toggle="collapse" data-target="#access"> Accessories <span>(15)</span></a>
                  <div class="collapse" id="access">
                    <div class="well">
                      <ul>
                        <li><a href="#.">Men</a></li>
                        <li><a href="#.">Woman</a></li>
                        <li><a href="#.">Kid</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#.">Bag & Shoes <span>(8)</span></a> </li>
                <li class="drop-menu"> <a href="#." class="title collapsed" data-toggle="collapse" data-target="#watches"> Watch <span>(15)</span></a>
                  <div class="collapse" id="watches">
                    <div class="well">
                      <ul>
                        <li><a href="#.">Men Watch</a></li>
                        <li><a href="#.">Woman Watch</a></li>
                        <li><a href="#.">Kid Watch</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#.">Sale <span> (11)</span></a> </li>
                <li><a href="#.">Top Rate <span>(35)</span></a> </li>
                <li><a href="#.">Collections <span>(17)</span></a> </li> -->
                <li><a href="{% url 'shop:contact-page' %}">СВЯЗАТЬСЯ С НАМИ </a> </li>
              </ul>
              
              <!-- HEADING -->
              <div class="heading">
                <h6>COLOUR</h6>
              </div>
              
              <!-- COLORE -->
              <ul class="cate">
                <li><a href="#.">Purple <span>(32) </span></a></li>
                <li><a href="#.">Red (9) <span>(9)</span></a> </li>
                <li><a href="#.">Yellow <span>(25)</span></a> </li>
                <li class="drop-menu"> <a href="#." class="title collapsed" data-toggle="collapse" data-target="#color"> White/Black <span>(15)</span></a>
                  <div class="collapse" id="color">
                    <div class="well">
                      <ul>
                        <li><a href="#.">Red</a></li>
                        <li><a href="#.">Purple</a></li>
                        <li><a href="#.">Yellow</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
              
              <!-- HEADING -->
              <div class="heading">
                <h6>PRICE</h6>
              </div>
              <!-- PRICE -->
              <div class="cost-price-content">
                <div id="price-range" class="price-range"></div>
                <span id="price-min" class="price-min">20</span> <span id="price-max" class="price-max">80</span> </div>
              <a href="#." class="btn btn-small btn-dark" >FILTER</a> 
              
              <!-- TAGS -->
              <h4 class="margin-t-40">Product Tags</h4>
              <ul class="tags">
                <li><a href="#.">FASHION</a></li>
                <li><a href="#.">BAGS</a></li>
                <li><a href="#.">TABLET</a></li>
                <li><a href="#.">ELECTRONIC</a></li>
                <li><a href="#.">BEAUTY</a></li>
                <li><a href="#.">TRtENDING</a></li>
                <li><a href="#.">SHOES</a></li>
              </ul>
              
              <!-- COMPAIR BOX -->
              <h4 class="margin-t-40">Compare</h4>
              <div class="compair-box">
                <div class="position-center-center full-width text-center"> No products to compare </div>
              </div>
              <a href="#." class="btn btn-small btn-dark" >Compare</a> 
              
              <!-- ADS-->
              <div class="sider-bar-ads"> <img src="images/side-bar-ad.jpg" alt="" >
                <div class="position-center-center full-width text-center"> 1805 <a href="#." class="btn btn-small btn-dark" >SHOP NOW</a> </div>
              </div>
            </div>
          </div>
          
          <!--======= ITEMS =========-->
          <div class="col-sm-9 animate fadeInUp" data-wow-delay="0.2s">
            <div class="items-short-type animate fadeInUp" data-wow-delay="0.4s"> 
              
              <!--======= GRID LIST STYLE =========-->
              <div class="grid-list"> <a href="#."><i class="fa fa-th-large"></i></a> <a href="#."><i class="fa fa-th-list"></i></a> </div>
              
              <!--======= SHORT BY =========-->
              <div class="short-by">
                <select class="selectpicker">
                  <option>Short by</option>
                  <option>Short by</option>
                </select>
                <p>Показаны 1-{% if products.count < 12 %}{{ products.count }}{% else %}12{% endif %} из {{ products.count }} товаров</p>
              </div>
              
              <!--======= VIEW ITEM NUMBER =========-->
              
              <div class="view-num">
                <ul>
                  {% if category %}
                  <li><a href="{% url 'shop:shop-page' %}">Все категории</a></li>
                  {% else %}
                  <li><a>Все товары</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
            
            <!--======= Products =========-->
            <div class="popurlar_product">
              <ul class="row">

                {% for product in products %}
                <!-- New Products -->
                <li class="col-sm-4 animate fadeIn" data-wow-delay="{% if forloop.counter > 3 %}{% if forloop.counter|mod:3 == 0 %}0.6{% else %}{{ forloop.counter|mod:3|mul:0.2 }}{% endif %}{% else %}{{ forloop.counter|mul:0.2 }}{% endif %}s">
                  <div class="items-in"> 
                    <!-- Image -->
                    {% thumbnail product.title_image "270x340" crop="center" as im %}
                      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
                    {% endthumbnail %}
                    <!-- Hover Details -->
                    <div class="over-item">
                      <ul class="animated fadeIn">
                        <li> <a href="{% static 'images/new-item-1.jpg' %}" data-lighter><i class="ion-search"></i></a></li>
                        <li> <a href="#."><i class="ion-shuffle"></i></a></li>
                        {% if product not in wish_list_products %}
                          <li> <a href="{% url 'users:wishlist-add' product.slug %}"><i class="fa fa-heart-o"></i></a></li>
                        {% else %}
                          <li> <a href="{% url 'users:wishlist-delete' product.slug %}" style="background: #af5875; color: #fff;"><i class="fa fa-heart-o"></i></a></li>
                        {% endif %}
                        <li class="full-w"> <a href="" data-toggle="modal" data-target="#choiceModal{{ forloop.counter }}" class="btn">В КОРЗИНУ</a></li>
                        <!-- Rating Stars -->
                        <li class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i></li>
                      </ul>
                    </div>
                    <!-- Item Name -->
                    <div class="details-sec"> <a href="{{ product.get_absolute_url }}">{{ product.title|upper }}</a> <span class="font-montserrat">{{ product.price }} RUB</span> </div>
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>

            {% for product in products %}
            <!-- Modal window -->
              <div class="modal fade" id="choiceModal{{ forloop.counter }}" tabindex="-1" role="dialog" aria-labelledby="choiceModal{{ forloop.counter }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" style="position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);">
                  <div class="modal-content">
                    <div class="modal-body" style="background-color: #fff; border-radius: 4px; padding: 20px;">
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <section class="pages-in item-detail-page">
                        <!-- <div class="container"> -->
                          <!-- <div class="row"> -->

                            <!-- color -->
                            <div class="col-sm-12">
                              <div class="item-select">
                                <!-- COLOR -->
                                <p>*ЦВЕТ</p>
                                <select class="selectpicker" >
                                  <option>ПОЖАЛУЙСТА ВЫБЕРИТЕ</option>
                                  {% for item in product.items.all %}
                                    <option>{{ item.color|upper }}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>

                            <!-- size -->
                              <div class="col-sm-12">
                                <div class="item-select"> 
                                  <!--  SIZE -->
                                  <p>*РАЗМЕР</p>
                                  <select class="selectpicker">
                                    <option>ПОЖАЛУЙСТА ВЫБЕРИТЕ</option>
                                    {% for item in product.items.all %}
                                      <option>{{ item.size|upper }}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>

                              <div class="col-sm-12">
                                <p style="font-size: 12px; margin-top: 10px">{{ product.description }}</p>
                              </div>

                              <div class="col-sm-12">
                                <p style="font-size: 12px; margin-top: 10px">Состав: {{ product.compound }}</p>
                              </div> 

                              <div class="col-sm-12">
                                <p style="font-size: 12px; margin-top: 10px">Уход: {{ product.care }}</p>
                              </div> 

                              <div class="col-sm-12" >
                                <a href="#." class="btn btn-small btn-dark float-right">В КОРЗИНУ</a>
                              </div>

                          <!-- </div> -->
                        <!-- </div> -->
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            <!-- end Modal window -->
            {% endfor %}
            
            <!--======= PAGINATION =========-->
            {% if products.count > 12 %}
            <ul class="pagination animate fadeInUp" data-wow-delay="0.4s">
              <li><a href="#.">1</a></li>
              <li><a href="#.">2</a></li>
              <li><a href="#.">3</a></li>
              <li><a href="#.">4</a></li>
              <li><a href="#.">5</a></li>
              <li><a href="#."><i class="fa fa-angle-right"></i></a></li>
            </ul>
            {% else %}
            <ul class="pagination animate fadeInUp" data-wow-delay="0.4s"></ul>
            {% endif %}
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock content %}


{% block scripts %}
<script src="{% static 'js/jquery-1.11.3.js' %}"></script> 
<script src="{% static 'js/wow.min.js' %}"></script> 
<script src="{% static 'js/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/own-menu.js' %}"></script> 
<script src="{% static 'js/owl.carousel.min.js' %}"></script> 
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script> 
<script src="{% static 'js/jquery.isotope.min.js' %}"></script> 
<script src="{% static 'js/jquery.nouislider.min.js' %}"></script> 
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script> 

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script> 
<script src="{% static 'js/main.js' %}"></script> 
<script>
jQuery(document).ready(function($) {
  
  //  Price Filter ( noUiSlider Plugin)
    $("#price-range").noUiSlider({
    range: {
      'min': [ 0 ],
      'max': [ 1000 ]
    },
    start: [40, 940],
        connect:true,
        serialization:{
            lower: [
        $.Link({
          target: $("#price-min")
        })
      ],
      upper: [
        $.Link({
          target: $("#price-max")
        })
      ],
      format: {
      // Set formatting
        decimals: 2,
        prefix: '$'
      }
        }
  })
})

</script>
{% endblock scripts %}